In [641]:
import pandas as pd
import numpy as np

PART A: Initial Data Exploration
Task 1: Load the dataset and display basic information about its structure.

In [642]:
import kagglehub
path = kagglehub.dataset_download("vijayuv/onlineretail")

Using Colab cache for faster access to the 'onlineretail' dataset.

In [643]:
path

'/kaggle/input/onlineretail'

In [644]:
df=pd.read_csv('/kaggle/input/onlineretail/OnlineRetail.csv',encoding='ISO-8859-1')

In [645]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 541909 entries, 0 to 541908
Data columns (total 8 columns):
 #   Column       Non-Null Count   Dtype
---  ------       --------------   -----
 0   InvoiceNo    541909 non-null  object
 1   StockCode    541909 non-null  object
 2   Description  540455 non-null  object
 3   Quantity     541909 non-null  int64
 4   InvoiceDate  541909 non-null  object
 5   UnitPrice    541909 non-null  float64
 6   CustomerID   406829 non-null  float64
 7   Country      541909 non-null  object
dtypes: float64(2), int64(1), object(5)
memory usage: 33.1+ MB

Task 2: Show the first 15 and last 15 records.

In [646]:
df.head(15)

,InvoiceNo,StockCode,Description,Quantity,InvoiceDate,UnitPrice,CustomerID,Country
0,536365,85123A,WHITE HANGING HEART T-LIGHT HOLDER,6,12/1/2010 8:26,2.55,17850.0,United Kingdom
1,536365,71053,WHITE METAL LANTERN,6,12/1/2010 8:26,3.39,17850.0,United Kingdom
2,536365,84406B,CREAM CUPID HEARTS COAT HANGER,8,12/1/2010 8:26,2.75,17850.0,United Kingdom
3,536365,84029G,KNITTED UNION FLAG HOT WATER BOTTLE,6,12/1/2010 8:26,3.39,17850.0,United Kingdom
4,536365,84029E,RED WOOLLY HOTTIE WHITE HEART.,6,12/1/2010 8:26,3.39,17850.0,United Kingdom
5,536365,22752,SET 7 BABUSHKA NESTING BOXES,2,12/1/2010 8:26,7.65,17850.0,United Kingdom
6,536365,21730,GLASS STAR FROSTED T-LIGHT HOLDER,6,12/1/2010 8:26,4.25,17850.0,United Kingdom
7,536366,22633,HAND WARMER UNION JACK,6,12/1/2010 8:28,1.85,17850.0,United Kingdom
8,536366,22632,HAND WARMER RED POLKA DOT,6,12/1/2010 8:28,1.85,17850.0,United Kingdom
9,536367,84879,ASSORTED COLOUR BIRD ORNAMENT,32,12/1/2010 8:34,1.69,13047.0,United Kingdom
10,536367,22745,POPPY'S PLAYHOUSE BEDROOM,6,12/1/2010 8:34,2.10,13047.0,United Kingdom
11,536367,22748,POPPY'S PLAYHOUSE KITCHEN,6,12/1/2010 8:34,2.10,13047.0,United Kingdom
12,536367,22749,FELTCRAFT PRINCESS CHARLOTTE DOLL,8,12/1/2010 8:34,3.75,13047.0,United Kingdom
13,536367,22310,IVORY KNITTED MUG COSY,6,12/1/2010 8:34,1.65,13047.0,United Kingdom
14,536367,84969,BOX OF 6 ASSORTED COLOUR TEASPOONS,6,12/1/2010 8:34,4.25,13047.0,United Kingdom

In [647]:
df.tail(15)

,InvoiceNo,StockCode,Description,Quantity,InvoiceDate,UnitPrice,CustomerID,Country
541894,581587,22631,CIRCUS PARADE LUNCH BOX,12,12/9/2011 12:50,1.95,12680.0,France
541895,581587,22556,PLASTERS IN TIN CIRCUS PARADE,12,12/9/2011 12:50,1.65,12680.0,France
541896,581587,22555,PLASTERS IN TIN STRONGMAN,12,12/9/2011 12:50,1.65,12680.0,France
541897,581587,22728,ALARM CLOCK BAKELIKE PINK,4,12/9/2011 12:50,3.75,12680.0,France
541898,581587,22727,ALARM CLOCK BAKELIKE RED,4,12/9/2011 12:50,3.75,12680.0,France
541899,581587,22726,ALARM CLOCK BAKELIKE GREEN,4,12/9/2011 12:50,3.75,12680.0,France
541900,581587,22730,ALARM CLOCK BAKELIKE IVORY,4,12/9/2011 12:50,3.75,12680.0,France
541901,581587,22367,CHILDRENS APRON SPACEBOY DESIGN,8,12/9/2011 12:50,1.95,12680.0,France
541902,581587,22629,SPACEBOY LUNCH BOX,12,12/9/2011 12:50,1.95,12680.0,France
541903,581587,23256,CHILDRENS CUTLERY SPACEBOY,4,12/9/2011 12:50,4.15,12680.0,France
541904,581587,22613,PACK OF 20 SPACEBOY NAPKINS,12,12/9/2011 12:50,0.85,12680.0,France
541905,581587,22899,CHILDREN'S APRON DOLLY GIRL,6,12/9/2011 12:50,2.10,12680.0,France
541906,581587,23254,CHILDRENS CUTLERY DOLLY GIRL,4,12/9/2011 12:50,4.15,12680.0,France
541907,581587,23255,CHILDRENS CUTLERY CIRCUS PARADE,4,12/9/2011 12:50,4.15,12680.0,France
541908,581587,22138,BAKING SET 9 PIECE RETROSPOT,3,12/9/2011 12:50,4.95,12680.0,France

Task 3: Display a random sample of 20 transactions.

In [648]:
df.sample(20)

,InvoiceNo,StockCode,Description,Quantity,InvoiceDate,UnitPrice,CustomerID,Country
474454,576840,23345,DOLLY GIRL BEAKER,1,11/16/2011 15:23,2.46,NaN,United Kingdom
29772,538826,22070,SMALL RED RETROSPOT MUG IN BOX,5,12/14/2010 12:58,3.75,12370.0,Cyprus
472970,576778,21791,VINTAGE HEADS AND TAILS CARD GAME,2,11/16/2011 13:24,1.25,16085.0,United Kingdom
400571,571318,84991,60 TEATIME FAIRY CAKE CASES,240,10/17/2011 10:50,0.42,17404.0,Sweden
27512,538566,21990,MODERN FLORAL STATIONERY SET,3,12/13/2010 11:21,2.51,NaN,United Kingdom
181703,552508,22960,JAM MAKING SET WITH JARS,1,5/9/2011 16:27,8.29,NaN,United Kingdom
499833,578697,22751,FELTCRAFT PRINCESS OLIVIA DOLL,4,11/25/2011 10:03,3.75,14132.0,United Kingdom
48579,540469,20967,GREY FLORAL FELTCRAFT SHOULDER BAG,3,1/7/2011 14:04,3.75,12484.0,Spain
176130,551996,21411,GINGHAM HEART DOORSTOP RED,3,5/5/2011 15:44,4.25,16628.0,United Kingdom
490614,578065,21884,CAKES AND BOWS GIFT TAPE,1,11/22/2011 15:41,1.63,NaN,United Kingdom
402532,571502,21922,UNION STRIPE WITH FRINGE HAMMOCK,4,10/17/2011 15:18,7.95,14422.0,United Kingdom
399642,571283,21175,GIN + TONIC DIET METAL SIGN,6,10/16/2011 13:51,2.55,16533.0,United Kingdom
387633,570342,21914,BLUE HARMONICA IN BOX,12,10/10/2011 12:26,1.25,17706.0,United Kingdom
26980,538524,22196,SMALL HEART MEASURING SPOONS,1,12/13/2010 9:35,1.66,NaN,United Kingdom
491084,578067,21935,SUKI SHOULDER BAG,11,11/22/2011 15:43,1.63,NaN,United Kingdom
500594,578790,23320,GIANT 50'S CHRISTMAS CRACKER,2,11/25/2011 12:20,2.89,14966.0,United Kingdom
409699,572069,23344,JUMBO BAG 50'S CHRISTMAS,10,10/20/2011 13:24,2.08,14911.0,EIRE
480438,577302,23505,PLAYING CARDS I LOVE LONDON,1,11/18/2011 12:57,1.25,17904.0,United Kingdom
478976,577126,23114,VINTAGE LEAF CHOPPING BOARD,9,11/17/2011 19:22,4.95,12406.0,Denmark
373963,569369,22720,SET OF 3 CAKE TINS PANTRY DESIGN,3,10/3/2011 15:32,4.95,15105.0,United Kingdom

Task 4: Find out how many rows and columns are in the dataset.

In [649]:
df.shape

(541909, 8)

Task 5: List all column names.

In [650]:
df.columns

Index(['InvoiceNo', 'StockCode', 'Description', 'Quantity', 'InvoiceDate',
       'UnitPrice', 'CustomerID', 'Country'],
      dtype='object')

Task 6: Check the data type of each column.

In [651]:
print(df['InvoiceNo'].dtype)

object

In [652]:
print(df['StockCode'].dtype)

object

In [653]:
print(df['Description'].dtype)

object

In [654]:
print(df['Quantity'].dtype)

int64

In [655]:
print(df['InvoiceDate'].dtype)

object

In [656]:
print(df['UnitPrice'].dtype)

float64

In [657]:
print(df['CustomerID'].dtype)

float64

In [658]:
print(df['Country'].dtype)

object

Task 7: Get a statistical summary of all numerical columns.

In [659]:
df.describe()

            Quantity      UnitPrice     CustomerID
count  541909.000000  541909.000000  406829.000000
mean        9.552250       4.611114   15287.690570
std       218.081158      96.759853    1713.600303
min    -80995.000000  -11062.060000   12346.000000
25%         1.000000       1.250000   13953.000000
50%         3.000000       2.080000   15152.000000
75%        10.000000       4.130000   16791.000000
max     80995.000000   38970.000000   18287.000000

PART B: Data Quality Assessment

Task 8: Identify which columns have missing values and how many.

In [660]:
df.isnull().sum()

InvoiceNo           0
StockCode           0
Description      1454
Quantity            0
InvoiceDate         0
UnitPrice           0
CustomerID     135080
Country             0
dtype: int64

In [661]:
df['StockCode'][df['CustomerID'].isna().any().sum()]

'71053'

Task 9: Find out how many transactions have missing CustomerID.

In [662]:
df['CustomerID'].isnull().sum()

np.int64(135080)

Task 10: Check if there are any duplicate rows in the dataset.

In [663]:
df.duplicated().sum()

np.int64(5268)

Task 11: Identify transactions where Quantity is less than or equal to zero.

In [664]:
df['InvoiceNo'][df['Quantity']<=0].count()

np.int64(10624)

Task 12: Find transactions where UnitPrice is zero or negative.

In [665]:
df['InvoiceNo'][df['UnitPrice']<=0].count()

np.int64(2517)

Task 13: Identify how many invoice numbers start with the letter 'C'.

In [666]:
df['InvoiceNo'].astype(str).str.startswith('C').sum()

np.int64(9288)

Task 14: Check if the Description column has any leading or trailing spaces.

In [667]:
df['Description'].astype(str).str.startswith(' ').sum()

np.int64(1271)

In [668]:
df['Description'].astype(str).str.endswith(' ').sum()

np.int64(112626)

In [669]:
df['Description'].astype(str).str.startswith(' ').sum() | df['Description'].astype(str).str.endswith(' ').sum()

np.int64(112631)

PART C: Data Cleaning

Task 15: Remove all rows where CustomerID is missing.

In [670]:
df=df.dropna(subset=['CustomerID'])

In [671]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 406829 entries, 0 to 541908
Data columns (total 8 columns):
 #   Column       Non-Null Count   Dtype
---  ------       --------------   -----
 0   InvoiceNo    406829 non-null  object
 1   StockCode    406829 non-null  object
 2   Description  406829 non-null  object
 3   Quantity     406829 non-null  int64
 4   InvoiceDate  406829 non-null  object
 5   UnitPrice    406829 non-null  float64
 6   CustomerID   406829 non-null  float64
 7   Country      406829 non-null  object
dtypes: float64(2), int64(1), object(5)
memory usage: 27.9+ MB

In [672]:
df

,InvoiceNo,StockCode,Description,Quantity,InvoiceDate,UnitPrice,CustomerID,Country
0,536365,85123A,WHITE HANGING HEART T-LIGHT HOLDER,6,12/1/2010 8:26,2.55,17850.0,United Kingdom
1,536365,71053,WHITE METAL LANTERN,6,12/1/2010 8:26,3.39,17850.0,United Kingdom
2,536365,84406B,CREAM CUPID HEARTS COAT HANGER,8,12/1/2010 8:26,2.75,17850.0,United Kingdom
3,536365,84029G,KNITTED UNION FLAG HOT WATER BOTTLE,6,12/1/2010 8:26,3.39,17850.0,United Kingdom
4,536365,84029E,RED WOOLLY HOTTIE WHITE HEART.,6,12/1/2010 8:26,3.39,17850.0,United Kingdom
...,...,...,...,...,...,...,...,...
541904,581587,22613,PACK OF 20 SPACEBOY NAPKINS,12,12/9/2011 12:50,0.85,12680.0,France
541905,581587,22899,CHILDREN'S APRON DOLLY GIRL,6,12/9/2011 12:50,2.10,12680.0,France
541906,581587,23254,CHILDRENS CUTLERY DOLLY GIRL,4,12/9/2011 12:50,4.15,12680.0,France
541907,581587,23255,CHILDRENS CUTLERY CIRCUS PARADE,4,12/9/2011 12:50,4.15,12680.0,France
541908,581587,22138,BAKING SET 9 PIECE RETROSPOT,3,12/9/2011 12:50,4.95,12680.0,France

Task 16: For missing product descriptions, fill them with "Unknown Product".

In [673]:
df['Description']=df['Description'].fillna('Unknown Product')

In [674]:
df

,InvoiceNo,StockCode,Description,Quantity,InvoiceDate,UnitPrice,CustomerID,Country
0,536365,85123A,WHITE HANGING HEART T-LIGHT HOLDER,6,12/1/2010 8:26,2.55,17850.0,United Kingdom
1,536365,71053,WHITE METAL LANTERN,6,12/1/2010 8:26,3.39,17850.0,United Kingdom
2,536365,84406B,CREAM CUPID HEARTS COAT HANGER,8,12/1/2010 8:26,2.75,17850.0,United Kingdom
3,536365,84029G,KNITTED UNION FLAG HOT WATER BOTTLE,6,12/1/2010 8:26,3.39,17850.0,United Kingdom
4,536365,84029E,RED WOOLLY HOTTIE WHITE HEART.,6,12/1/2010 8:26,3.39,17850.0,United Kingdom
...,...,...,...,...,...,...,...,...
541904,581587,22613,PACK OF 20 SPACEBOY NAPKINS,12,12/9/2011 12:50,0.85,12680.0,France
541905,581587,22899,CHILDREN'S APRON DOLLY GIRL,6,12/9/2011 12:50,2.10,12680.0,France
541906,581587,23254,CHILDRENS CUTLERY DOLLY GIRL,4,12/9/2011 12:50,4.15,12680.0,France
541907,581587,23255,CHILDRENS CUTLERY CIRCUS PARADE,4,12/9/2011 12:50,4.15,12680.0,France
541908,581587,22138,BAKING SET 9 PIECE RETROSPOT,3,12/9/2011 12:50,4.95,12680.0,France

In [675]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 406829 entries, 0 to 541908
Data columns (total 8 columns):
 #   Column       Non-Null Count   Dtype
---  ------       --------------   -----
 0   InvoiceNo    406829 non-null  object
 1   StockCode    406829 non-null  object
 2   Description  406829 non-null  object
 3   Quantity     406829 non-null  int64
 4   InvoiceDate  406829 non-null  object
 5   UnitPrice    406829 non-null  float64
 6   CustomerID   406829 non-null  float64
 7   Country      406829 non-null  object
dtypes: float64(2), int64(1), object(5)
memory usage: 27.9+ MB

Task 17: Remove all duplicate transactions

In [676]:
df=df.drop_duplicates()

In [677]:
df

,InvoiceNo,StockCode,Description,Quantity,InvoiceDate,UnitPrice,CustomerID,Country
0,536365,85123A,WHITE HANGING HEART T-LIGHT HOLDER,6,12/1/2010 8:26,2.55,17850.0,United Kingdom
1,536365,71053,WHITE METAL LANTERN,6,12/1/2010 8:26,3.39,17850.0,United Kingdom
2,536365,84406B,CREAM CUPID HEARTS COAT HANGER,8,12/1/2010 8:26,2.75,17850.0,United Kingdom
3,536365,84029G,KNITTED UNION FLAG HOT WATER BOTTLE,6,12/1/2010 8:26,3.39,17850.0,United Kingdom
4,536365,84029E,RED WOOLLY HOTTIE WHITE HEART.,6,12/1/2010 8:26,3.39,17850.0,United Kingdom
...,...,...,...,...,...,...,...,...
541904,581587,22613,PACK OF 20 SPACEBOY NAPKINS,12,12/9/2011 12:50,0.85,12680.0,France
541905,581587,22899,CHILDREN'S APRON DOLLY GIRL,6,12/9/2011 12:50,2.10,12680.0,France
541906,581587,23254,CHILDRENS CUTLERY DOLLY GIRL,4,12/9/2011 12:50,4.15,12680.0,France
541907,581587,23255,CHILDRENS CUTLERY CIRCUS PARADE,4,12/9/2011 12:50,4.15,12680.0,France
541908,581587,22138,BAKING SET 9 PIECE RETROSPOT,3,12/9/2011 12:50,4.95,12680.0,France

Task 18: Remove transactions where Quantity is less than or equal to zero.

In [678]:
df['Quantity'][df.loc[::,'Quantity']<=0].count()

np.int64(8872)

In [679]:
df=df[df['Quantity']>0]

In [680]:
df

,InvoiceNo,StockCode,Description,Quantity,InvoiceDate,UnitPrice,CustomerID,Country
0,536365,85123A,WHITE HANGING HEART T-LIGHT HOLDER,6,12/1/2010 8:26,2.55,17850.0,United Kingdom
1,536365,71053,WHITE METAL LANTERN,6,12/1/2010 8:26,3.39,17850.0,United Kingdom
2,536365,84406B,CREAM CUPID HEARTS COAT HANGER,8,12/1/2010 8:26,2.75,17850.0,United Kingdom
3,536365,84029G,KNITTED UNION FLAG HOT WATER BOTTLE,6,12/1/2010 8:26,3.39,17850.0,United Kingdom
4,536365,84029E,RED WOOLLY HOTTIE WHITE HEART.,6,12/1/2010 8:26,3.39,17850.0,United Kingdom
...,...,...,...,...,...,...,...,...
541904,581587,22613,PACK OF 20 SPACEBOY NAPKINS,12,12/9/2011 12:50,0.85,12680.0,France
541905,581587,22899,CHILDREN'S APRON DOLLY GIRL,6,12/9/2011 12:50,2.10,12680.0,France
541906,581587,23254,CHILDRENS CUTLERY DOLLY GIRL,4,12/9/2011 12:50,4.15,12680.0,France
541907,581587,23255,CHILDRENS CUTLERY CIRCUS PARADE,4,12/9/2011 12:50,4.15,12680.0,France
541908,581587,22138,BAKING SET 9 PIECE RETROSPOT,3,12/9/2011 12:50,4.95,12680.0,France

In [681]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 392732 entries, 0 to 541908
Data columns (total 8 columns):
 #   Column       Non-Null Count   Dtype
---  ------       --------------   -----
 0   InvoiceNo    392732 non-null  object
 1   StockCode    392732 non-null  object
 2   Description  392732 non-null  object
 3   Quantity     392732 non-null  int64
 4   InvoiceDate  392732 non-null  object
 5   UnitPrice    392732 non-null  float64
 6   CustomerID   392732 non-null  float64
 7   Country      392732 non-null  object
dtypes: float64(2), int64(1), object(5)
memory usage: 27.0+ MB

Task 19: Remove transactions where UnitPrice is less than or equal to zero.

In [682]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 392732 entries, 0 to 541908
Data columns (total 8 columns):
 #   Column       Non-Null Count   Dtype
---  ------       --------------   -----
 0   InvoiceNo    392732 non-null  object
 1   StockCode    392732 non-null  object
 2   Description  392732 non-null  object
 3   Quantity     392732 non-null  int64
 4   InvoiceDate  392732 non-null  object
 5   UnitPrice    392732 non-null  float64
 6   CustomerID   392732 non-null  float64
 7   Country      392732 non-null  object
dtypes: float64(2), int64(1), object(5)
memory usage: 27.0+ MB

In [683]:
df=df[df['UnitPrice']>0]

In [684]:
df

,InvoiceNo,StockCode,Description,Quantity,InvoiceDate,UnitPrice,CustomerID,Country
0,536365,85123A,WHITE HANGING HEART T-LIGHT HOLDER,6,12/1/2010 8:26,2.55,17850.0,United Kingdom
1,536365,71053,WHITE METAL LANTERN,6,12/1/2010 8:26,3.39,17850.0,United Kingdom
2,536365,84406B,CREAM CUPID HEARTS COAT HANGER,8,12/1/2010 8:26,2.75,17850.0,United Kingdom
3,536365,84029G,KNITTED UNION FLAG HOT WATER BOTTLE,6,12/1/2010 8:26,3.39,17850.0,United Kingdom
4,536365,84029E,RED WOOLLY HOTTIE WHITE HEART.,6,12/1/2010 8:26,3.39,17850.0,United Kingdom
...,...,...,...,...,...,...,...,...
541904,581587,22613,PACK OF 20 SPACEBOY NAPKINS,12,12/9/2011 12:50,0.85,12680.0,France
541905,581587,22899,CHILDREN'S APRON DOLLY GIRL,6,12/9/2011 12:50,2.10,12680.0,France
541906,581587,23254,CHILDRENS CUTLERY DOLLY GIRL,4,12/9/2011 12:50,4.15,12680.0,France
541907,581587,23255,CHILDRENS CUTLERY CIRCUS PARADE,4,12/9/2011 12:50,4.15,12680.0,France
541908,581587,22138,BAKING SET 9 PIECE RETROSPOT,3,12/9/2011 12:50,4.95,12680.0,France

In [685]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 392692 entries, 0 to 541908
Data columns (total 8 columns):
 #   Column       Non-Null Count   Dtype
---  ------       --------------   -----
 0   InvoiceNo    392692 non-null  object
 1   StockCode    392692 non-null  object
 2   Description  392692 non-null  object
 3   Quantity     392692 non-null  int64
 4   InvoiceDate  392692 non-null  object
 5   UnitPrice    392692 non-null  float64
 6   CustomerID   392692 non-null  float64
 7   Country      392692 non-null  object
dtypes: float64(2), int64(1), object(5)
memory usage: 27.0+ MB

Task 20: Remove all cancelled transactions (invoices starting with 'C').

In [686]:
df=df[df['InvoiceNo'].str[0]!='C']

In [687]:
df

,InvoiceNo,StockCode,Description,Quantity,InvoiceDate,UnitPrice,CustomerID,Country
0,536365,85123A,WHITE HANGING HEART T-LIGHT HOLDER,6,12/1/2010 8:26,2.55,17850.0,United Kingdom
1,536365,71053,WHITE METAL LANTERN,6,12/1/2010 8:26,3.39,17850.0,United Kingdom
2,536365,84406B,CREAM CUPID HEARTS COAT HANGER,8,12/1/2010 8:26,2.75,17850.0,United Kingdom
3,536365,84029G,KNITTED UNION FLAG HOT WATER BOTTLE,6,12/1/2010 8:26,3.39,17850.0,United Kingdom
4,536365,84029E,RED WOOLLY HOTTIE WHITE HEART.,6,12/1/2010 8:26,3.39,17850.0,United Kingdom
...,...,...,...,...,...,...,...,...
541904,581587,22613,PACK OF 20 SPACEBOY NAPKINS,12,12/9/2011 12:50,0.85,12680.0,France
541905,581587,22899,CHILDREN'S APRON DOLLY GIRL,6,12/9/2011 12:50,2.10,12680.0,France
541906,581587,23254,CHILDRENS CUTLERY DOLLY GIRL,4,12/9/2011 12:50,4.15,12680.0,France
541907,581587,23255,CHILDRENS CUTLERY CIRCUS PARADE,4,12/9/2011 12:50,4.15,12680.0,France
541908,581587,22138,BAKING SET 9 PIECE RETROSPOT,3,12/9/2011 12:50,4.95,12680.0,France

Task 21: Change the column name "Description" to "ProductName".

In [688]:
df=df.rename(columns={'Description':'ProductName'})

In [689]:
df

,InvoiceNo,StockCode,ProductName,Quantity,InvoiceDate,UnitPrice,CustomerID,Country
0,536365,85123A,WHITE HANGING HEART T-LIGHT HOLDER,6,12/1/2010 8:26,2.55,17850.0,United Kingdom
1,536365,71053,WHITE METAL LANTERN,6,12/1/2010 8:26,3.39,17850.0,United Kingdom
2,536365,84406B,CREAM CUPID HEARTS COAT HANGER,8,12/1/2010 8:26,2.75,17850.0,United Kingdom
3,536365,84029G,KNITTED UNION FLAG HOT WATER BOTTLE,6,12/1/2010 8:26,3.39,17850.0,United Kingdom
4,536365,84029E,RED WOOLLY HOTTIE WHITE HEART.,6,12/1/2010 8:26,3.39,17850.0,United Kingdom
...,...,...,...,...,...,...,...,...
541904,581587,22613,PACK OF 20 SPACEBOY NAPKINS,12,12/9/2011 12:50,0.85,12680.0,France
541905,581587,22899,CHILDREN'S APRON DOLLY GIRL,6,12/9/2011 12:50,2.10,12680.0,France
541906,581587,23254,CHILDRENS CUTLERY DOLLY GIRL,4,12/9/2011 12:50,4.15,12680.0,France
541907,581587,23255,CHILDRENS CUTLERY CIRCUS PARADE,4,12/9/2011 12:50,4.15,12680.0,France
541908,581587,22138,BAKING SET 9 PIECE RETROSPOT,3,12/9/2011 12:50,4.95,12680.0,France

Task 22: Ensure the InvoiceDate column is in proper date-time format.

In [690]:
df['InvoiceDate'] = pd.to_datetime(df['InvoiceDate'])

In [691]:
df

,InvoiceNo,StockCode,ProductName,Quantity,InvoiceDate,UnitPrice,CustomerID,Country
0,536365,85123A,WHITE HANGING HEART T-LIGHT HOLDER,6,2010-12-01 08:26:00,2.55,17850.0,United Kingdom
1,536365,71053,WHITE METAL LANTERN,6,2010-12-01 08:26:00,3.39,17850.0,United Kingdom
2,536365,84406B,CREAM CUPID HEARTS COAT HANGER,8,2010-12-01 08:26:00,2.75,17850.0,United Kingdom
3,536365,84029G,KNITTED UNION FLAG HOT WATER BOTTLE,6,2010-12-01 08:26:00,3.39,17850.0,United Kingdom
4,536365,84029E,RED WOOLLY HOTTIE WHITE HEART.,6,2010-12-01 08:26:00,3.39,17850.0,United Kingdom
...,...,...,...,...,...,...,...,...
541904,581587,22613,PACK OF 20 SPACEBOY NAPKINS,12,2011-12-09 12:50:00,0.85,12680.0,France
541905,581587,22899,CHILDREN'S APRON DOLLY GIRL,6,2011-12-09 12:50:00,2.10,12680.0,France
541906,581587,23254,CHILDRENS CUTLERY DOLLY GIRL,4,2011-12-09 12:50:00,4.15,12680.0,France
541907,581587,23255,CHILDRENS CUTLERY CIRCUS PARADE,4,2011-12-09 12:50:00,4.15,12680.0,France
541908,581587,22138,BAKING SET 9 PIECE RETROSPOT,3,2011-12-09 12:50:00,4.95,12680.0,France

Task 23: Convert CustomerID to integer type.

In [692]:
df['CustomerID']=df['CustomerID'].astype(int)

In [693]:
df

,InvoiceNo,StockCode,ProductName,Quantity,InvoiceDate,UnitPrice,CustomerID,Country
0,536365,85123A,WHITE HANGING HEART T-LIGHT HOLDER,6,2010-12-01 08:26:00,2.55,17850,United Kingdom
1,536365,71053,WHITE METAL LANTERN,6,2010-12-01 08:26:00,3.39,17850,United Kingdom
2,536365,84406B,CREAM CUPID HEARTS COAT HANGER,8,2010-12-01 08:26:00,2.75,17850,United Kingdom
3,536365,84029G,KNITTED UNION FLAG HOT WATER BOTTLE,6,2010-12-01 08:26:00,3.39,17850,United Kingdom
4,536365,84029E,RED WOOLLY HOTTIE WHITE HEART.,6,2010-12-01 08:26:00,3.39,17850,United Kingdom
...,...,...,...,...,...,...,...,...
541904,581587,22613,PACK OF 20 SPACEBOY NAPKINS,12,2011-12-09 12:50:00,0.85,12680,France
541905,581587,22899,CHILDREN'S APRON DOLLY GIRL,6,2011-12-09 12:50:00,2.10,12680,France
541906,581587,23254,CHILDRENS CUTLERY DOLLY GIRL,4,2011-12-09 12:50:00,4.15,12680,France
541907,581587,23255,CHILDRENS CUTLERY CIRCUS PARADE,4,2011-12-09 12:50:00,4.15,12680,France
541908,581587,22138,BAKING SET 9 PIECE RETROSPOT,3,2011-12-09 12:50:00,4.95,12680,France

Task 24: Reset the index after all cleaning operations.

In [694]:
df=df.reset_index(drop=True)

In [695]:
df

,InvoiceNo,StockCode,ProductName,Quantity,InvoiceDate,UnitPrice,CustomerID,Country
0,536365,85123A,WHITE HANGING HEART T-LIGHT HOLDER,6,2010-12-01 08:26:00,2.55,17850,United Kingdom
1,536365,71053,WHITE METAL LANTERN,6,2010-12-01 08:26:00,3.39,17850,United Kingdom
2,536365,84406B,CREAM CUPID HEARTS COAT HANGER,8,2010-12-01 08:26:00,2.75,17850,United Kingdom
3,536365,84029G,KNITTED UNION FLAG HOT WATER BOTTLE,6,2010-12-01 08:26:00,3.39,17850,United Kingdom
4,536365,84029E,RED WOOLLY HOTTIE WHITE HEART.,6,2010-12-01 08:26:00,3.39,17850,United Kingdom
...,...,...,...,...,...,...,...,...
392687,581587,22613,PACK OF 20 SPACEBOY NAPKINS,12,2011-12-09 12:50:00,0.85,12680,France
392688,581587,22899,CHILDREN'S APRON DOLLY GIRL,6,2011-12-09 12:50:00,2.10,12680,France
392689,581587,23254,CHILDRENS CUTLERY DOLLY GIRL,4,2011-12-09 12:50:00,4.15,12680,France
392690,581587,23255,CHILDRENS CUTLERY CIRCUS PARADE,4,2011-12-09 12:50:00,4.15,12680,France
392691,581587,22138,BAKING SET 9 PIECE RETROSPOT,3,2011-12-09 12:50:00,4.95,12680,France

PART D: Feature Creation

Task 25: Create a new column called "TotalPrice" that represents the total value of each transaction.

In [696]:
df['TotalPrice']=df['Quantity']*df['UnitPrice']

In [697]:
df

,InvoiceNo,StockCode,ProductName,Quantity,InvoiceDate,UnitPrice,CustomerID,Country,TotalPrice
0,536365,85123A,WHITE HANGING HEART T-LIGHT HOLDER,6,2010-12-01 08:26:00,2.55,17850,United Kingdom,15.30
1,536365,71053,WHITE METAL LANTERN,6,2010-12-01 08:26:00,3.39,17850,United Kingdom,20.34
2,536365,84406B,CREAM CUPID HEARTS COAT HANGER,8,2010-12-01 08:26:00,2.75,17850,United Kingdom,22.00
3,536365,84029G,KNITTED UNION FLAG HOT WATER BOTTLE,6,2010-12-01 08:26:00,3.39,17850,United Kingdom,20.34
4,536365,84029E,RED WOOLLY HOTTIE WHITE HEART.,6,2010-12-01 08:26:00,3.39,17850,United Kingdom,20.34
...,...,...,...,...,...,...,...,...,...
392687,581587,22613,PACK OF 20 SPACEBOY NAPKINS,12,2011-12-09 12:50:00,0.85,12680,France,10.20
392688,581587,22899,CHILDREN'S APRON DOLLY GIRL,6,2011-12-09 12:50:00,2.10,12680,France,12.60
392689,581587,23254,CHILDRENS CUTLERY DOLLY GIRL,4,2011-12-09 12:50:00,4.15,12680,France,16.60
392690,581587,23255,CHILDRENS CUTLERY CIRCUS PARADE,4,2011-12-09 12:50:00,4.15,12680,France,16.60
392691,581587,22138,BAKING SET 9 PIECE RETROSPOT,3,2011-12-09 12:50:00,4.95,12680,France,14.85

Task 26: Extract the year from InvoiceDate and store it in a new column "Year".

In [698]:
df['Year']=df['InvoiceDate'].dt.year

In [699]:
df

,InvoiceNo,StockCode,ProductName,Quantity,InvoiceDate,UnitPrice,CustomerID,Country,TotalPrice,Year
0,536365,85123A,WHITE HANGING HEART T-LIGHT HOLDER,6,2010-12-01 08:26:00,2.55,17850,United Kingdom,15.30,2010
1,536365,71053,WHITE METAL LANTERN,6,2010-12-01 08:26:00,3.39,17850,United Kingdom,20.34,2010
2,536365,84406B,CREAM CUPID HEARTS COAT HANGER,8,2010-12-01 08:26:00,2.75,17850,United Kingdom,22.00,2010
3,536365,84029G,KNITTED UNION FLAG HOT WATER BOTTLE,6,2010-12-01 08:26:00,3.39,17850,United Kingdom,20.34,2010
4,536365,84029E,RED WOOLLY HOTTIE WHITE HEART.,6,2010-12-01 08:26:00,3.39,17850,United Kingdom,20.34,2010
...,...,...,...,...,...,...,...,...,...,...
392687,581587,22613,PACK OF 20 SPACEBOY NAPKINS,12,2011-12-09 12:50:00,0.85,12680,France,10.20,2011
392688,581587,22899,CHILDREN'S APRON DOLLY GIRL,6,2011-12-09 12:50:00,2.10,12680,France,12.60,2011
392689,581587,23254,CHILDRENS CUTLERY DOLLY GIRL,4,2011-12-09 12:50:00,4.15,12680,France,16.60,2011
392690,581587,23255,CHILDRENS CUTLERY CIRCUS PARADE,4,2011-12-09 12:50:00,4.15,12680,France,16.60,2011
392691,581587,22138,BAKING SET 9 PIECE RETROSPOT,3,2011-12-09 12:50:00,4.95,12680,France,14.85,2011

Task 27: Extract the month from InvoiceDate and store it in a new column "Month".

In [700]:
df['Month']=df['InvoiceDate'].dt.month

In [701]:
df

,InvoiceNo,StockCode,ProductName,Quantity,InvoiceDate,UnitPrice,CustomerID,Country,TotalPrice,Year,Month
0,536365,85123A,WHITE HANGING HEART T-LIGHT HOLDER,6,2010-12-01 08:26:00,2.55,17850,United Kingdom,15.30,2010,12
1,536365,71053,WHITE METAL LANTERN,6,2010-12-01 08:26:00,3.39,17850,United Kingdom,20.34,2010,12
2,536365,84406B,CREAM CUPID HEARTS COAT HANGER,8,2010-12-01 08:26:00,2.75,17850,United Kingdom,22.00,2010,12
3,536365,84029G,KNITTED UNION FLAG HOT WATER BOTTLE,6,2010-12-01 08:26:00,3.39,17850,United Kingdom,20.34,2010,12
4,536365,84029E,RED WOOLLY HOTTIE WHITE HEART.,6,2010-12-01 08:26:00,3.39,17850,United Kingdom,20.34,2010,12
...,...,...,...,...,...,...,...,...,...,...,...
392687,581587,22613,PACK OF 20 SPACEBOY NAPKINS,12,2011-12-09 12:50:00,0.85,12680,France,10.20,2011,12
392688,581587,22899,CHILDREN'S APRON DOLLY GIRL,6,2011-12-09 12:50:00,2.10,12680,France,12.60,2011,12
392689,581587,23254,CHILDRENS CUTLERY DOLLY GIRL,4,2011-12-09 12:50:00,4.15,12680,France,16.60,2011,12
392690,581587,23255,CHILDRENS CUTLERY CIRCUS PARADE,4,2011-12-09 12:50:00,4.15,12680,France,16.60,2011,12
392691,581587,22138,BAKING SET 9 PIECE RETROSPOT,3,2011-12-09 12:50:00,4.95,12680,France,14.85,2011,12

Task 28: Extract the day from InvoiceDate and store it in a new column "Day".

In [702]:
df['Day']=df['InvoiceDate'].dt.day

In [703]:
df

,InvoiceNo,StockCode,ProductName,Quantity,InvoiceDate,UnitPrice,CustomerID,Country,TotalPrice,Year,Month,Day
0,536365,85123A,WHITE HANGING HEART T-LIGHT HOLDER,6,2010-12-01 08:26:00,2.55,17850,United Kingdom,15.30,2010,12,1
1,536365,71053,WHITE METAL LANTERN,6,2010-12-01 08:26:00,3.39,17850,United Kingdom,20.34,2010,12,1
2,536365,84406B,CREAM CUPID HEARTS COAT HANGER,8,2010-12-01 08:26:00,2.75,17850,United Kingdom,22.00,2010,12,1
3,536365,84029G,KNITTED UNION FLAG HOT WATER BOTTLE,6,2010-12-01 08:26:00,3.39,17850,United Kingdom,20.34,2010,12,1
4,536365,84029E,RED WOOLLY HOTTIE WHITE HEART.,6,2010-12-01 08:26:00,3.39,17850,United Kingdom,20.34,2010,12,1
...,...,...,...,...,...,...,...,...,...,...,...,...
392687,581587,22613,PACK OF 20 SPACEBOY NAPKINS,12,2011-12-09 12:50:00,0.85,12680,France,10.20,2011,12,9
392688,581587,22899,CHILDREN'S APRON DOLLY GIRL,6,2011-12-09 12:50:00,2.10,12680,France,12.60,2011,12,9
392689,581587,23254,CHILDRENS CUTLERY DOLLY GIRL,4,2011-12-09 12:50:00,4.15,12680,France,16.60,2011,12,9
392690,581587,23255,CHILDRENS CUTLERY CIRCUS PARADE,4,2011-12-09 12:50:00,4.15,12680,France,16.60,2011,12,9
392691,581587,22138,BAKING SET 9 PIECE RETROSPOT,3,2011-12-09 12:50:00,4.95,12680,France,14.85,2011,12,9

Task 29: Extract the hour from InvoiceDate and store it in a new column "Hour".

In [704]:
df['Hour']=df['InvoiceDate'].dt.hour

In [705]:
df

,InvoiceNo,StockCode,ProductName,Quantity,InvoiceDate,UnitPrice,CustomerID,Country,TotalPrice,Year,Month,Day,Hour
0,536365,85123A,WHITE HANGING HEART T-LIGHT HOLDER,6,2010-12-01 08:26:00,2.55,17850,United Kingdom,15.30,2010,12,1,8
1,536365,71053,WHITE METAL LANTERN,6,2010-12-01 08:26:00,3.39,17850,United Kingdom,20.34,2010,12,1,8
2,536365,84406B,CREAM CUPID HEARTS COAT HANGER,8,2010-12-01 08:26:00,2.75,17850,United Kingdom,22.00,2010,12,1,8
3,536365,84029G,KNITTED UNION FLAG HOT WATER BOTTLE,6,2010-12-01 08:26:00,3.39,17850,United Kingdom,20.34,2010,12,1,8
4,536365,84029E,RED WOOLLY HOTTIE WHITE HEART.,6,2010-12-01 08:26:00,3.39,17850,United Kingdom,20.34,2010,12,1,8
...,...,...,...,...,...,...,...,...,...,...,...,...,...
392687,581587,22613,PACK OF 20 SPACEBOY NAPKINS,12,2011-12-09 12:50:00,0.85,12680,France,10.20,2011,12,9,12
392688,581587,22899,CHILDREN'S APRON DOLLY GIRL,6,2011-12-09 12:50:00,2.10,12680,France,12.60,2011,12,9,12
392689,581587,23254,CHILDRENS CUTLERY DOLLY GIRL,4,2011-12-09 12:50:00,4.15,12680,France,16.60,2011,12,9,12
392690,581587,23255,CHILDRENS CUTLERY CIRCUS PARADE,4,2011-12-09 12:50:00,4.15,12680,France,16.60,2011,12,9,12
392691,581587,22138,BAKING SET 9 PIECE RETROSPOT,3,2011-12-09 12:50:00,4.95,12680,France,14.85,2011,12,9,12

Task 30: Create a column "DayOfWeek" showing which day of the week the transaction occurred.

In [706]:
df['DayOfWeek'] = df['InvoiceDate'].dt.day_of_week

In [707]:
df

,InvoiceNo,StockCode,ProductName,Quantity,InvoiceDate,UnitPrice,CustomerID,Country,TotalPrice,Year,Month,Day,Hour,DayOfWeek
0,536365,85123A,WHITE HANGING HEART T-LIGHT HOLDER,6,2010-12-01 08:26:00,2.55,17850,United Kingdom,15.30,2010,12,1,8,2
1,536365,71053,WHITE METAL LANTERN,6,2010-12-01 08:26:00,3.39,17850,United Kingdom,20.34,2010,12,1,8,2
2,536365,84406B,CREAM CUPID HEARTS COAT HANGER,8,2010-12-01 08:26:00,2.75,17850,United Kingdom,22.00,2010,12,1,8,2
3,536365,84029G,KNITTED UNION FLAG HOT WATER BOTTLE,6,2010-12-01 08:26:00,3.39,17850,United Kingdom,20.34,2010,12,1,8,2
4,536365,84029E,RED WOOLLY HOTTIE WHITE HEART.,6,2010-12-01 08:26:00,3.39,17850,United Kingdom,20.34,2010,12,1,8,2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
392687,581587,22613,PACK OF 20 SPACEBOY NAPKINS,12,2011-12-09 12:50:00,0.85,12680,France,10.20,2011,12,9,12,4
392688,581587,22899,CHILDREN'S APRON DOLLY GIRL,6,2011-12-09 12:50:00,2.10,12680,France,12.60,2011,12,9,12,4
392689,581587,23254,CHILDRENS CUTLERY DOLLY GIRL,4,2011-12-09 12:50:00,4.15,12680,France,16.60,2011,12,9,12,4
392690,581587,23255,CHILDRENS CUTLERY CIRCUS PARADE,4,2011-12-09 12:50:00,4.15,12680,France,16.60,2011,12,9,12,4
392691,581587,22138,BAKING SET 9 PIECE RETROSPOT,3,2011-12-09 12:50:00,4.95,12680,France,14.85,2011,12,9,12,4

Task 31: Create a column "Quarter" showing which quarter (Q1, Q2, Q3, Q4) the transaction belongs to.

In [708]:
df['Quarter'] = df['InvoiceDate'].dt.quarter

Task 32: Create a column "RevenueCategory" with three levels:

"Low" for transactions under 10
"Medium" for transactions between 10 and 100
"High" for transactions above 100

In [709]:
df['RevenueCategory'] = pd.cut(df['TotalPrice'],
                               bins=[-np.inf, 10, 100, np.inf],
                               labels=['Low', 'Medium', 'High'])

In [710]:
df

,InvoiceNo,StockCode,ProductName,Quantity,InvoiceDate,UnitPrice,CustomerID,Country,TotalPrice,Year,Month,Day,Hour,DayOfWeek,Quarter,RevenueCategory
0,536365,85123A,WHITE HANGING HEART T-LIGHT HOLDER,6,2010-12-01 08:26:00,2.55,17850,United Kingdom,15.30,2010,12,1,8,2,4,Medium
1,536365,71053,WHITE METAL LANTERN,6,2010-12-01 08:26:00,3.39,17850,United Kingdom,20.34,2010,12,1,8,2,4,Medium
2,536365,84406B,CREAM CUPID HEARTS COAT HANGER,8,2010-12-01 08:26:00,2.75,17850,United Kingdom,22.00,2010,12,1,8,2,4,Medium
3,536365,84029G,KNITTED UNION FLAG HOT WATER BOTTLE,6,2010-12-01 08:26:00,3.39,17850,United Kingdom,20.34,2010,12,1,8,2,4,Medium
4,536365,84029E,RED WOOLLY HOTTIE WHITE HEART.,6,2010-12-01 08:26:00,3.39,17850,United Kingdom,20.34,2010,12,1,8,2,4,Medium
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
392687,581587,22613,PACK OF 20 SPACEBOY NAPKINS,12,2011-12-09 12:50:00,0.85,12680,France,10.20,2011,12,9,12,4,4,Medium
392688,581587,22899,CHILDREN'S APRON DOLLY GIRL,6,2011-12-09 12:50:00,2.10,12680,France,12.60,2011,12,9,12,4,4,Medium
392689,581587,23254,CHILDRENS CUTLERY DOLLY GIRL,4,2011-12-09 12:50:00,4.15,12680,France,16.60,2011,12,9,12,4,4,Medium
392690,581587,23255,CHILDRENS CUTLERY CIRCUS PARADE,4,2011-12-09 12:50:00,4.15,12680,France,16.60,2011,12,9,12,4,4,Medium
392691,581587,22138,BAKING SET 9 PIECE RETROSPOT,3,2011-12-09 12:50:00,4.95,12680,France,14.85,2011,12,9,12,4,4,Medium

Task 33: Create a column "OrderSize" with three levels:

"Small" for Quantity less than 5
"Medium" for Quantity between 5 and 20
"Large" for Quantity greater than 20

In [711]:
df['RevenueCategory']=np.where(df['TotalPrice']<10,'Low',np.where(df['TotalPrice']<=100,'Medium','High'))

In [712]:
df

,InvoiceNo,StockCode,ProductName,Quantity,InvoiceDate,UnitPrice,CustomerID,Country,TotalPrice,Year,Month,Day,Hour,DayOfWeek,Quarter,RevenueCategory
0,536365,85123A,WHITE HANGING HEART T-LIGHT HOLDER,6,2010-12-01 08:26:00,2.55,17850,United Kingdom,15.30,2010,12,1,8,2,4,Medium
1,536365,71053,WHITE METAL LANTERN,6,2010-12-01 08:26:00,3.39,17850,United Kingdom,20.34,2010,12,1,8,2,4,Medium
2,536365,84406B,CREAM CUPID HEARTS COAT HANGER,8,2010-12-01 08:26:00,2.75,17850,United Kingdom,22.00,2010,12,1,8,2,4,Medium
3,536365,84029G,KNITTED UNION FLAG HOT WATER BOTTLE,6,2010-12-01 08:26:00,3.39,17850,United Kingdom,20.34,2010,12,1,8,2,4,Medium
4,536365,84029E,RED WOOLLY HOTTIE WHITE HEART.,6,2010-12-01 08:26:00,3.39,17850,United Kingdom,20.34,2010,12,1,8,2,4,Medium
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
392687,581587,22613,PACK OF 20 SPACEBOY NAPKINS,12,2011-12-09 12:50:00,0.85,12680,France,10.20,2011,12,9,12,4,4,Medium
392688,581587,22899,CHILDREN'S APRON DOLLY GIRL,6,2011-12-09 12:50:00,2.10,12680,France,12.60,2011,12,9,12,4,4,Medium
392689,581587,23254,CHILDRENS CUTLERY DOLLY GIRL,4,2011-12-09 12:50:00,4.15,12680,France,16.60,2011,12,9,12,4,4,Medium
392690,581587,23255,CHILDRENS CUTLERY CIRCUS PARADE,4,2011-12-09 12:50:00,4.15,12680,France,16.60,2011,12,9,12,4,4,Medium
392691,581587,22138,BAKING SET 9 PIECE RETROSPOT,3,2011-12-09 12:50:00,4.95,12680,France,14.85,2011,12,9,12,4,4,Medium

Task 34: Create a column that shows the length of each product name.

In [713]:
df['NameLength'] = df['ProductName'].str.len()

In [714]:

df

,InvoiceNo,StockCode,ProductName,Quantity,InvoiceDate,UnitPrice,CustomerID,Country,TotalPrice,Year,Month,Day,Hour,DayOfWeek,Quarter,RevenueCategory,NameLength
0,536365,85123A,WHITE HANGING HEART T-LIGHT HOLDER,6,2010-12-01 08:26:00,2.55,17850,United Kingdom,15.30,2010,12,1,8,2,4,Medium,34
1,536365,71053,WHITE METAL LANTERN,6,2010-12-01 08:26:00,3.39,17850,United Kingdom,20.34,2010,12,1,8,2,4,Medium,19
2,536365,84406B,CREAM CUPID HEARTS COAT HANGER,8,2010-12-01 08:26:00,2.75,17850,United Kingdom,22.00,2010,12,1,8,2,4,Medium,30
3,536365,84029G,KNITTED UNION FLAG HOT WATER BOTTLE,6,2010-12-01 08:26:00,3.39,17850,United Kingdom,20.34,2010,12,1,8,2,4,Medium,35
4,536365,84029E,RED WOOLLY HOTTIE WHITE HEART.,6,2010-12-01 08:26:00,3.39,17850,United Kingdom,20.34,2010,12,1,8,2,4,Medium,30
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
392687,581587,22613,PACK OF 20 SPACEBOY NAPKINS,12,2011-12-09 12:50:00,0.85,12680,France,10.20,2011,12,9,12,4,4,Medium,27
392688,581587,22899,CHILDREN'S APRON DOLLY GIRL,6,2011-12-09 12:50:00,2.10,12680,France,12.60,2011,12,9,12,4,4,Medium,28
392689,581587,23254,CHILDRENS CUTLERY DOLLY GIRL,4,2011-12-09 12:50:00,4.15,12680,France,16.60,2011,12,9,12,4,4,Medium,29
392690,581587,23255,CHILDRENS CUTLERY CIRCUS PARADE,4,2011-12-09 12:50:00,4.15,12680,France,16.60,2011,12,9,12,4,4,Medium,31
392691,581587,22138,BAKING SET 9 PIECE RETROSPOT,3,2011-12-09 12:50:00,4.95,12680,France,14.85,2011,12,9,12,4,4,Medium,29

PART E: Text Data Processing

Task 35: Convert all product names to uppercase.

In [715]:
df['ProductName'] = df['ProductName'].str.upper()

In [716]:
df

,InvoiceNo,StockCode,ProductName,Quantity,InvoiceDate,UnitPrice,CustomerID,Country,TotalPrice,Year,Month,Day,Hour,DayOfWeek,Quarter,RevenueCategory,NameLength
0,536365,85123A,WHITE HANGING HEART T-LIGHT HOLDER,6,2010-12-01 08:26:00,2.55,17850,United Kingdom,15.30,2010,12,1,8,2,4,Medium,34
1,536365,71053,WHITE METAL LANTERN,6,2010-12-01 08:26:00,3.39,17850,United Kingdom,20.34,2010,12,1,8,2,4,Medium,19
2,536365,84406B,CREAM CUPID HEARTS COAT HANGER,8,2010-12-01 08:26:00,2.75,17850,United Kingdom,22.00,2010,12,1,8,2,4,Medium,30
3,536365,84029G,KNITTED UNION FLAG HOT WATER BOTTLE,6,2010-12-01 08:26:00,3.39,17850,United Kingdom,20.34,2010,12,1,8,2,4,Medium,35
4,536365,84029E,RED WOOLLY HOTTIE WHITE HEART.,6,2010-12-01 08:26:00,3.39,17850,United Kingdom,20.34,2010,12,1,8,2,4,Medium,30
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
392687,581587,22613,PACK OF 20 SPACEBOY NAPKINS,12,2011-12-09 12:50:00,0.85,12680,France,10.20,2011,12,9,12,4,4,Medium,27
392688,581587,22899,CHILDREN'S APRON DOLLY GIRL,6,2011-12-09 12:50:00,2.10,12680,France,12.60,2011,12,9,12,4,4,Medium,28
392689,581587,23254,CHILDRENS CUTLERY DOLLY GIRL,4,2011-12-09 12:50:00,4.15,12680,France,16.60,2011,12,9,12,4,4,Medium,29
392690,581587,23255,CHILDRENS CUTLERY CIRCUS PARADE,4,2011-12-09 12:50:00,4.15,12680,France,16.60,2011,12,9,12,4,4,Medium,31
392691,581587,22138,BAKING SET 9 PIECE RETROSPOT,3,2011-12-09 12:50:00,4.95,12680,France,14.85,2011,12,9,12,4,4,Medium,29

Task 36: Remove any extra spaces from the Country column.

In [717]:
df['Country'] = df['Country'].str.strip()

In [718]:
df

,InvoiceNo,StockCode,ProductName,Quantity,InvoiceDate,UnitPrice,CustomerID,Country,TotalPrice,Year,Month,Day,Hour,DayOfWeek,Quarter,RevenueCategory,NameLength
0,536365,85123A,WHITE HANGING HEART T-LIGHT HOLDER,6,2010-12-01 08:26:00,2.55,17850,United Kingdom,15.30,2010,12,1,8,2,4,Medium,34
1,536365,71053,WHITE METAL LANTERN,6,2010-12-01 08:26:00,3.39,17850,United Kingdom,20.34,2010,12,1,8,2,4,Medium,19
2,536365,84406B,CREAM CUPID HEARTS COAT HANGER,8,2010-12-01 08:26:00,2.75,17850,United Kingdom,22.00,2010,12,1,8,2,4,Medium,30
3,536365,84029G,KNITTED UNION FLAG HOT WATER BOTTLE,6,2010-12-01 08:26:00,3.39,17850,United Kingdom,20.34,2010,12,1,8,2,4,Medium,35
4,536365,84029E,RED WOOLLY HOTTIE WHITE HEART.,6,2010-12-01 08:26:00,3.39,17850,United Kingdom,20.34,2010,12,1,8,2,4,Medium,30
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
392687,581587,22613,PACK OF 20 SPACEBOY NAPKINS,12,2011-12-09 12:50:00,0.85,12680,France,10.20,2011,12,9,12,4,4,Medium,27
392688,581587,22899,CHILDREN'S APRON DOLLY GIRL,6,2011-12-09 12:50:00,2.10,12680,France,12.60,2011,12,9,12,4,4,Medium,28
392689,581587,23254,CHILDRENS CUTLERY DOLLY GIRL,4,2011-12-09 12:50:00,4.15,12680,France,16.60,2011,12,9,12,4,4,Medium,29
392690,581587,23255,CHILDRENS CUTLERY CIRCUS PARADE,4,2011-12-09 12:50:00,4.15,12680,France,16.60,2011,12,9,12,4,4,Medium,31
392691,581587,22138,BAKING SET 9 PIECE RETROSPOT,3,2011-12-09 12:50:00,4.95,12680,France,14.85,2011,12,9,12,4,4,Medium,29

Task 37: Find all products that contain the word "BAG" in their name.

In [719]:
df[df['ProductName'].str.contains('BAG', na=False)]

,InvoiceNo,StockCode,ProductName,Quantity,InvoiceDate,UnitPrice,CustomerID,Country,TotalPrice,Year,Month,Day,Hour,DayOfWeek,Quarter,RevenueCategory,NameLength
38,536370,22661,CHARLOTTE BAG DOLLY GIRL DESIGN,20,2010-12-01 08:45:00,0.85,12583,France,17.0,2010,12,1,8,2,4,Medium,31
86,536378,22386,JUMBO BAG PINK POLKADOT,10,2010-12-01 09:37:00,1.95,14688,United Kingdom,19.5,2010,12,1,9,2,4,Medium,23
87,536378,85099C,JUMBO BAG BAROQUE BLACK WHITE,10,2010-12-01 09:37:00,1.95,14688,United Kingdom,19.5,2010,12,1,9,2,4,Medium,30
88,536378,21033,JUMBO BAG CHARLIE AND LOLA TOYS,10,2010-12-01 09:37:00,2.95,14688,United Kingdom,29.5,2010,12,1,9,2,4,Medium,31
89,536378,20723,STRAWBERRY CHARLOTTE BAG,10,2010-12-01 09:37:00,0.85,14688,United Kingdom,8.5,2010,12,1,9,2,4,Low,24
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
392616,581579,23343,JUMBO BAG VINTAGE CHRISTMAS,30,2011-12-09 12:19:00,1.79,17581,United Kingdom,53.7,2011,12,9,12,4,4,Medium,28
392617,581579,23344,JUMBO BAG 50'S CHRISTMAS,20,2011-12-09 12:19:00,1.79,17581,United Kingdom,35.8,2011,12,9,12,4,4,Medium,25
392618,581579,23581,JUMBO BAG PAISLEY PARK,40,2011-12-09 12:19:00,1.79,17581,United Kingdom,71.6,2011,12,9,12,4,4,Medium,22
392645,581581,23681,LUNCH BAG RED VINTAGE DOILY,10,2011-12-09 12:20:00,1.65,17581,United Kingdom,16.5,2011,12,9,12,4,4,Medium,27
392648,581583,20725,LUNCH BAG RED RETROSPOT,40,2011-12-09 12:23:00,1.45,13777,United Kingdom,58.0,2011,12,9,12,4,4,Medium,23

In [720]:
df

,InvoiceNo,StockCode,ProductName,Quantity,InvoiceDate,UnitPrice,CustomerID,Country,TotalPrice,Year,Month,Day,Hour,DayOfWeek,Quarter,RevenueCategory,NameLength
0,536365,85123A,WHITE HANGING HEART T-LIGHT HOLDER,6,2010-12-01 08:26:00,2.55,17850,United Kingdom,15.30,2010,12,1,8,2,4,Medium,34
1,536365,71053,WHITE METAL LANTERN,6,2010-12-01 08:26:00,3.39,17850,United Kingdom,20.34,2010,12,1,8,2,4,Medium,19
2,536365,84406B,CREAM CUPID HEARTS COAT HANGER,8,2010-12-01 08:26:00,2.75,17850,United Kingdom,22.00,2010,12,1,8,2,4,Medium,30
3,536365,84029G,KNITTED UNION FLAG HOT WATER BOTTLE,6,2010-12-01 08:26:00,3.39,17850,United Kingdom,20.34,2010,12,1,8,2,4,Medium,35
4,536365,84029E,RED WOOLLY HOTTIE WHITE HEART.,6,2010-12-01 08:26:00,3.39,17850,United Kingdom,20.34,2010,12,1,8,2,4,Medium,30
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
392687,581587,22613,PACK OF 20 SPACEBOY NAPKINS,12,2011-12-09 12:50:00,0.85,12680,France,10.20,2011,12,9,12,4,4,Medium,27
392688,581587,22899,CHILDREN'S APRON DOLLY GIRL,6,2011-12-09 12:50:00,2.10,12680,France,12.60,2011,12,9,12,4,4,Medium,28
392689,581587,23254,CHILDRENS CUTLERY DOLLY GIRL,4,2011-12-09 12:50:00,4.15,12680,France,16.60,2011,12,9,12,4,4,Medium,29
392690,581587,23255,CHILDRENS CUTLERY CIRCUS PARADE,4,2011-12-09 12:50:00,4.15,12680,France,16.60,2011,12,9,12,4,4,Medium,31
392691,581587,22138,BAKING SET 9 PIECE RETROSPOT,3,2011-12-09 12:50:00,4.95,12680,France,14.85,2011,12,9,12,4,4,Medium,29

Task 38: Find all products whose names start with "WHITE".

In [721]:
df[df['ProductName'].str.startswith('WHITE', na=False)]

,InvoiceNo,StockCode,ProductName,Quantity,InvoiceDate,UnitPrice,CustomerID,Country,TotalPrice,Year,Month,Day,Hour,DayOfWeek,Quarter,RevenueCategory,NameLength
0,536365,85123A,WHITE HANGING HEART T-LIGHT HOLDER,6,2010-12-01 08:26:00,2.55,17850,United Kingdom,15.30,2010,12,1,8,2,4,Medium,34
1,536365,71053,WHITE METAL LANTERN,6,2010-12-01 08:26:00,3.39,17850,United Kingdom,20.34,2010,12,1,8,2,4,Medium,19
49,536373,85123A,WHITE HANGING HEART T-LIGHT HOLDER,6,2010-12-01 09:02:00,2.55,17850,United Kingdom,15.30,2010,12,1,9,2,4,Medium,34
50,536373,71053,WHITE METAL LANTERN,6,2010-12-01 09:02:00,3.39,17850,United Kingdom,20.34,2010,12,1,9,2,4,Medium,19
66,536375,85123A,WHITE HANGING HEART T-LIGHT HOLDER,6,2010-12-01 09:32:00,2.55,17850,United Kingdom,15.30,2010,12,1,9,2,4,Medium,34
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
392022,581472,85123A,WHITE HANGING HEART T-LIGHT HOLDER,6,2011-12-08 19:55:00,2.95,15796,United Kingdom,17.70,2011,12,8,19,3,4,Medium,34
392135,581476,21479,WHITE SKULL HOT WATER BOTTLE,4,2011-12-09 08:48:00,4.25,12433,Norway,17.00,2011,12,9,8,4,4,Medium,29
392372,581502,23210,WHITE ROCKING HORSE HAND PAINTED,12,2011-12-09 10:51:00,1.25,15910,United Kingdom,15.00,2011,12,9,10,4,4,Medium,32
392439,581538,21673,WHITE SPOT BLUE CERAMIC DRAWER KNOB,1,2011-12-09 11:34:00,1.45,14446,United Kingdom,1.45,2011,12,9,11,4,4,Low,35
392498,581567,21479,WHITE SKULL HOT WATER BOTTLE,4,2011-12-09 11:56:00,4.25,16626,United Kingdom,17.00,2011,12,9,11,4,4,Medium,29

Task 39: Find all products whose names end with "HOLDER".

In [722]:
df[df['ProductName'].str.endswith('HOLDER', na=False)]

,InvoiceNo,StockCode,ProductName,Quantity,InvoiceDate,UnitPrice,CustomerID,Country,TotalPrice,Year,Month,Day,Hour,DayOfWeek,Quarter,RevenueCategory,NameLength
0,536365,85123A,WHITE HANGING HEART T-LIGHT HOLDER,6,2010-12-01 08:26:00,2.55,17850,United Kingdom,15.3,2010,12,1,8,2,4,Medium,34
6,536365,21730,GLASS STAR FROSTED T-LIGHT HOLDER,6,2010-12-01 08:26:00,4.25,17850,United Kingdom,25.5,2010,12,1,8,2,4,Medium,33
49,536373,85123A,WHITE HANGING HEART T-LIGHT HOLDER,6,2010-12-01 09:02:00,2.55,17850,United Kingdom,15.3,2010,12,1,9,2,4,Medium,34
64,536373,21730,GLASS STAR FROSTED T-LIGHT HOLDER,6,2010-12-01 09:02:00,4.25,17850,United Kingdom,25.5,2010,12,1,9,2,4,Medium,33
66,536375,85123A,WHITE HANGING HEART T-LIGHT HOLDER,6,2010-12-01 09:32:00,2.55,17850,United Kingdom,15.3,2010,12,1,9,2,4,Medium,34
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
392497,581567,21326,AGED GLASS SILVER T-LIGHT HOLDER,144,2011-12-09 11:56:00,0.55,16626,United Kingdom,79.2,2011,12,9,11,4,4,Medium,32
392524,581571,85053,FRENCH ENAMEL CANDLEHOLDER,2,2011-12-09 12:00:00,2.10,15311,United Kingdom,4.2,2011,12,9,12,4,4,Low,26
392608,581579,22197,POPCORN HOLDER,24,2011-12-09 12:19:00,0.85,17581,United Kingdom,20.4,2011,12,9,12,4,4,Medium,14
392655,581585,22460,EMBOSSED GLASS TEALIGHT HOLDER,12,2011-12-09 12:31:00,1.25,15804,United Kingdom,15.0,2011,12,9,12,4,4,Medium,30
392659,581585,84945,MULTI COLOUR SILVER T-LIGHT HOLDER,24,2011-12-09 12:31:00,0.85,15804,United Kingdom,20.4,2011,12,9,12,4,4,Medium,34

Task 40: Replace "United Kingdom" with "UK" in the Country column.

In [723]:
df['Country'] = df['Country'].replace('United Kingdom', 'UK')

Task 41: Replace "EIRE" with "Ireland" in the Country column.

In [724]:
df['Country'] = df['Country'].replace('EIRE', 'Ireland')

PART F: Data Selection and Filtering
Task 42: Select only the columns: InvoiceNo, ProductName, Quantity, UnitPrice, Country.

In [725]:
df[['InvoiceNo', 'ProductName', 'Quantity', 'UnitPrice', 'Country']]

,InvoiceNo,ProductName,Quantity,UnitPrice,Country
0,536365,WHITE HANGING HEART T-LIGHT HOLDER,6,2.55,UK
1,536365,WHITE METAL LANTERN,6,3.39,UK
2,536365,CREAM CUPID HEARTS COAT HANGER,8,2.75,UK
3,536365,KNITTED UNION FLAG HOT WATER BOTTLE,6,3.39,UK
4,536365,RED WOOLLY HOTTIE WHITE HEART.,6,3.39,UK
...,...,...,...,...,...
392687,581587,PACK OF 20 SPACEBOY NAPKINS,12,0.85,France
392688,581587,CHILDREN'S APRON DOLLY GIRL,6,2.10,France
392689,581587,CHILDRENS CUTLERY DOLLY GIRL,4,4.15,France
392690,581587,CHILDRENS CUTLERY CIRCUS PARADE,4,4.15,France
392691,581587,BAKING SET 9 PIECE RETROSPOT,3,4.95,France

Task 43: Display transactions from Germany only.

In [726]:
df[df['Country'] == 'Germany']

,InvoiceNo,StockCode,ProductName,Quantity,InvoiceDate,UnitPrice,CustomerID,Country,TotalPrice,Year,Month,Day,Hour,DayOfWeek,Quarter,RevenueCategory,NameLength
1073,536527,22809,SET OF 6 T-LIGHTS SANTA,6,2010-12-01 13:04:00,2.95,12662,Germany,17.70,2010,12,1,13,2,4,Medium,23
1074,536527,84347,ROTATING SILVER ANGELS T-LIGHT HLDR,6,2010-12-01 13:04:00,2.55,12662,Germany,15.30,2010,12,1,13,2,4,Medium,35
1075,536527,84945,MULTI COLOUR SILVER T-LIGHT HOLDER,12,2010-12-01 13:04:00,0.85,12662,Germany,10.20,2010,12,1,13,2,4,Medium,34
1076,536527,22242,5 HOOK HANGER MAGIC TOADSTOOL,12,2010-12-01 13:04:00,1.65,12662,Germany,19.80,2010,12,1,13,2,4,Medium,29
1077,536527,22244,3 HOOK HANGER MAGIC GARDEN,12,2010-12-01 13:04:00,1.95,12662,Germany,23.40,2010,12,1,13,2,4,Medium,26
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
392584,581578,22993,SET OF 4 PANTRY JELLY MOULDS,12,2011-12-09 12:16:00,1.25,12713,Germany,15.00,2011,12,9,12,4,4,Medium,28
392585,581578,22907,PACK OF 20 NAPKINS PANTRY DESIGN,12,2011-12-09 12:16:00,0.85,12713,Germany,10.20,2011,12,9,12,4,4,Medium,32
392586,581578,22908,PACK OF 20 NAPKINS RED APPLES,12,2011-12-09 12:16:00,0.85,12713,Germany,10.20,2011,12,9,12,4,4,Medium,29
392587,581578,23215,JINGLE BELL HEART ANTIQUE SILVER,12,2011-12-09 12:16:00,2.08,12713,Germany,24.96,2011,12,9,12,4,4,Medium,32
392588,581578,22736,RIBBON REEL MAKING SNOWMEN,10,2011-12-09 12:16:00,1.65,12713,Germany,16.50,2011,12,9,12,4,4,Medium,27

Task 44: Display transactions where Quantity is greater than 50.

In [727]:
df[df['Quantity'] > 50]

,InvoiceNo,StockCode,ProductName,Quantity,InvoiceDate,UnitPrice,CustomerID,Country,TotalPrice,Year,Month,Day,Hour,DayOfWeek,Quarter,RevenueCategory,NameLength
46,536371,22086,PAPER CHAIN KIT 50'S CHRISTMAS,80,2010-12-01 09:00:00,2.55,13748,UK,204.00,2010,12,1,9,2,4,High,31
83,536376,21733,RED HANGING HEART T-LIGHT HOLDER,64,2010-12-01 09:32:00,2.55,15291,UK,163.20,2010,12,1,9,2,4,High,32
96,536378,21212,PACK OF 72 RETROSPOT CAKE CASES,120,2010-12-01 09:37:00,0.42,14688,UK,50.40,2010,12,1,9,2,4,Medium,31
102,536378,85071B,RED CHARLIE+LOLA PERSONAL DOORSIGN,96,2010-12-01 09:37:00,0.38,14688,UK,36.48,2010,12,1,9,2,4,Medium,34
174,536386,85099C,JUMBO BAG BAROQUE BLACK WHITE,100,2010-12-01 09:57:00,1.65,16029,UK,165.00,2010,12,1,9,2,4,High,30
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
392488,581566,23404,HOME SWEET HOME BLACKBOARD,144,2011-12-09 11:50:00,3.26,18102,UK,469.44,2011,12,9,11,4,4,High,26
392489,581567,21417,COCKLE SHELL DISH,84,2011-12-09 11:56:00,0.79,16626,UK,66.36,2011,12,9,11,4,4,Medium,17
392497,581567,21326,AGED GLASS SILVER T-LIGHT HOLDER,144,2011-12-09 11:56:00,0.55,16626,UK,79.20,2011,12,9,11,4,4,Medium,32
392529,581571,23167,SMALL CERAMIC TOP STORAGE JAR,96,2011-12-09 12:00:00,0.69,15311,UK,66.24,2011,12,9,12,4,4,Medium,30
392650,581584,20832,RED FLOCK LOVE HEART PHOTO FRAME,72,2011-12-09 12:25:00,0.72,13777,UK,51.84,2011,12,9,12,4,4,Medium,32

Task 45: Display transactions where UnitPrice is between 5 and 10.

In [728]:
df[(df['UnitPrice']>=5 )& (df['UnitPrice']<=10)]

,InvoiceNo,StockCode,ProductName,Quantity,InvoiceDate,UnitPrice,CustomerID,Country,TotalPrice,Year,Month,Day,Hour,DayOfWeek,Quarter,RevenueCategory,NameLength
5,536365,22752,SET 7 BABUSHKA NESTING BOXES,2,2010-12-01 08:26:00,7.65,17850,UK,15.30,2010,12,1,8,2,4,Medium,28
16,536367,22622,BOX OF VINTAGE ALPHABET BLOCKS,2,2010-12-01 08:34:00,9.95,13047,UK,19.90,2010,12,1,8,2,4,Medium,30
17,536367,21754,HOME BUILDING BLOCK WORD,3,2010-12-01 08:34:00,5.95,13047,UK,17.85,2010,12,1,8,2,4,Medium,24
18,536367,21755,LOVE BUILDING BLOCK WORD,3,2010-12-01 08:34:00,5.95,13047,UK,17.85,2010,12,1,8,2,4,Medium,24
19,536367,21777,RECIPE BOX WITH METAL HEART,4,2010-12-01 08:34:00,7.95,13047,UK,31.80,2010,12,1,8,2,4,Medium,27
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
392638,581580,21351,CINAMMON & ORANGE WREATH,1,2011-12-09 12:20:00,6.75,12748,UK,6.75,2011,12,9,12,4,4,Low,24
392641,581580,79321,CHILLI LIGHTS,2,2011-12-09 12:20:00,5.75,12748,UK,11.50,2011,12,9,12,4,4,Medium,13
392661,581585,23356,LOVE HOT WATER BOTTLE,3,2011-12-09 12:31:00,5.95,15804,UK,17.85,2011,12,9,12,4,4,Medium,21
392675,581586,21217,RED RETROSPOT ROUND CAKE TINS,24,2011-12-09 12:49:00,8.95,13113,UK,214.80,2011,12,9,12,4,4,High,29
392676,581586,20685,DOORMAT RED RETROSPOT,10,2011-12-09 12:49:00,7.08,13113,UK,70.80,2011,12,9,12,4,4,Medium,21

Task 46: Display transactions from France with Quantity greater than 20.

In [729]:
df[(df['Country']=='France')&(df['Quantity']>20)]

,InvoiceNo,StockCode,ProductName,Quantity,InvoiceDate,UnitPrice,CustomerID,Country,TotalPrice,Year,Month,Day,Hour,DayOfWeek,Quarter,RevenueCategory,NameLength
26,536370,22728,ALARM CLOCK BAKELIKE PINK,24,2010-12-01 08:45:00,3.75,12583,France,90.00,2010,12,1,8,2,4,Medium,25
27,536370,22727,ALARM CLOCK BAKELIKE RED,24,2010-12-01 08:45:00,3.75,12583,France,90.00,2010,12,1,8,2,4,Medium,25
30,536370,21883,STARS GIFT TAPE,24,2010-12-01 08:45:00,0.65,12583,France,15.60,2010,12,1,8,2,4,Medium,16
31,536370,10002,INFLATABLE POLITICAL GLOBE,48,2010-12-01 08:45:00,0.85,12583,France,40.80,2010,12,1,8,2,4,Medium,27
32,536370,21791,VINTAGE HEADS AND TAILS CARD GAME,24,2010-12-01 08:45:00,1.25,12583,France,30.00,2010,12,1,8,2,4,Medium,34
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
387471,581001,23084,RABBIT NIGHT LIGHT,24,2011-12-07 08:07:00,1.79,12583,France,42.96,2011,12,7,8,2,4,Medium,18
387485,581001,22726,ALARM CLOCK BAKELIKE GREEN,24,2011-12-07 08:07:00,3.75,12583,France,90.00,2011,12,7,8,2,4,Medium,26
389063,581171,22966,GINGERBREAD MAN COOKIE CUTTER,24,2011-12-07 15:02:00,1.25,12615,France,30.00,2011,12,7,15,2,4,Medium,29
389074,581171,84077,WORLD WAR 2 GLIDERS ASSTD DESIGNS,48,2011-12-07 15:02:00,0.29,12615,France,13.92,2011,12,7,15,2,4,Medium,33
389081,581171,23084,RABBIT NIGHT LIGHT,24,2011-12-07 15:02:00,1.79,12615,France,42.96,2011,12,7,15,2,4,Medium,18

Task 47: Display transactions from December 2010.

In [730]:
df[df['Year'] == 2010]

,InvoiceNo,StockCode,ProductName,Quantity,InvoiceDate,UnitPrice,CustomerID,Country,TotalPrice,Year,Month,Day,Hour,DayOfWeek,Quarter,RevenueCategory,NameLength
0,536365,85123A,WHITE HANGING HEART T-LIGHT HOLDER,6,2010-12-01 08:26:00,2.55,17850,UK,15.30,2010,12,1,8,2,4,Medium,34
1,536365,71053,WHITE METAL LANTERN,6,2010-12-01 08:26:00,3.39,17850,UK,20.34,2010,12,1,8,2,4,Medium,19
2,536365,84406B,CREAM CUPID HEARTS COAT HANGER,8,2010-12-01 08:26:00,2.75,17850,UK,22.00,2010,12,1,8,2,4,Medium,30
3,536365,84029G,KNITTED UNION FLAG HOT WATER BOTTLE,6,2010-12-01 08:26:00,3.39,17850,UK,20.34,2010,12,1,8,2,4,Medium,35
4,536365,84029E,RED WOOLLY HOTTIE WHITE HEART.,6,2010-12-01 08:26:00,3.39,17850,UK,20.34,2010,12,1,8,2,4,Medium,30
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
25665,539988,84380,SET OF 3 BUTTERFLY COOKIE CUTTERS,1,2010-12-23 16:06:00,1.25,18116,UK,1.25,2010,12,23,16,3,4,Low,33
25666,539988,84849D,HOT BATHS SOAP HOLDER,1,2010-12-23 16:06:00,1.69,18116,UK,1.69,2010,12,23,16,3,4,Low,21
25667,539988,84849B,FAIRY SOAP SOAP HOLDER,1,2010-12-23 16:06:00,1.69,18116,UK,1.69,2010,12,23,16,3,4,Low,22
25668,539988,22854,CREAM SWEETHEART EGG HOLDER,2,2010-12-23 16:06:00,4.95,18116,UK,9.90,2010,12,23,16,3,4,Low,27
25669,539988,47559B,TEA TIME OVEN GLOVE,2,2010-12-23 16:06:00,1.25,18116,UK,2.50,2010,12,23,16,3,4,Low,19

Task 48: Display transactions that occurred on weekends.

In [731]:
df[df['DayOfWeek']>=5]

,InvoiceNo,StockCode,ProductName,Quantity,InvoiceDate,UnitPrice,CustomerID,Country,TotalPrice,Year,Month,Day,Hour,DayOfWeek,Quarter,RevenueCategory,NameLength
4943,537037,22114,HOT WATER BOTTLE TEA AND SYMPATHY,8,2010-12-05 10:03:00,3.95,17243,UK,31.60,2010,12,5,10,6,4,Medium,33
4944,537037,21485,RETROSPOT HEART HOT WATER BOTTLE,6,2010-12-05 10:03:00,4.95,17243,UK,29.70,2010,12,5,10,6,4,Medium,32
4945,537037,22835,HOT WATER BOTTLE I AM SO POORLY,3,2010-12-05 10:03:00,4.65,17243,UK,13.95,2010,12,5,10,6,4,Medium,31
4946,537037,84029E,RED WOOLLY HOTTIE WHITE HEART.,6,2010-12-05 10:03:00,3.75,17243,UK,22.50,2010,12,5,10,6,4,Medium,30
4947,537037,84029G,KNITTED UNION FLAG HOT WATER BOTTLE,6,2010-12-05 10:03:00,3.75,17243,UK,22.50,2010,12,5,10,6,4,Medium,35
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
381605,580536,21156,RETROSPOT CHILDRENS APRON,8,2011-12-04 16:07:00,1.95,12490,France,15.60,2011,12,4,16,6,4,Medium,25
381606,580536,21880,RED RETROSPOT TAPE,12,2011-12-04 16:07:00,0.65,12490,France,7.80,2011,12,4,16,6,4,Low,18
381607,580536,22090,PAPER BUNTING RETROSPOT,6,2011-12-04 16:07:00,2.95,12490,France,17.70,2011,12,4,16,6,4,Medium,23
381608,580536,22628,PICNIC BOXES SET OF 3 RETROSPOT,4,2011-12-04 16:07:00,4.95,12490,France,19.80,2011,12,4,16,6,4,Medium,32
381609,580536,POST,POSTAGE,3,2011-12-04 16:07:00,18.00,12490,France,54.00,2011,12,4,16,6,4,Medium,7

Task 49: Display the top 10 transactions by TotalPrice.

In [732]:
df.sort_values(by='TotalPrice',ascending=False).head(10)

,InvoiceNo,StockCode,ProductName,Quantity,InvoiceDate,UnitPrice,CustomerID,Country,TotalPrice,Year,Month,Day,Hour,DayOfWeek,Quarter,RevenueCategory,NameLength
392226,581483,23843,"PAPER CRAFT , LITTLE BIRDIE",80995,2011-12-09 09:15:00,2.08,16446,UK,168469.60,2011,12,9,9,4,4,High,27
36521,541431,23166,MEDIUM CERAMIC TOP STORAGE JAR,74215,2011-01-18 10:01:00,1.04,12346,UK,77183.60,2011,1,18,10,1,1,High,30
153588,556444,22502,PICNIC BASKET WICKER 60 PIECES,60,2011-06-10 15:28:00,649.50,15098,UK,38970.00,2011,6,10,15,4,2,High,30
116868,551697,POST,POSTAGE,1,2011-05-03 13:46:00,8142.75,16029,UK,8142.75,2011,5,3,13,1,2,High,7
246041,567423,23243,SET OF TEA COFFEE SUGAR TINS PANTRY,1412,2011-09-20 11:05:00,5.06,17450,UK,7144.72,2011,9,20,11,1,3,High,35
108204,550461,21108,FAIRY CAKE FLANNEL ASSORTED COLOUR,3114,2011-04-18 13:20:00,2.10,15749,UK,6539.40,2011,4,18,13,0,2,High,34
32199,540815,21108,FAIRY CAKE FLANNEL ASSORTED COLOUR,3114,2011-01-11 12:55:00,2.10,15749,UK,6539.40,2011,1,11,12,1,1,High,34
304623,573003,23084,RABBIT NIGHT LIGHT,2400,2011-10-27 12:11:00,2.08,14646,Netherlands,4992.00,2011,10,27,12,3,4,High,18
32197,540815,85123A,WHITE HANGING HEART T-LIGHT HOLDER,1930,2011-01-11 12:55:00,2.55,15749,UK,4921.50,2011,1,11,12,1,1,High,34
108200,550461,85123A,WHITE HANGING HEART T-LIGHT HOLDER,1930,2011-04-18 13:20:00,2.40,15749,UK,4632.00,2011,4,18,13,0,2,High,34

Task 50: Display the bottom 15 transactions by TotalPrice.

In [733]:
df.sort_values(by='TotalPrice').tail(15)

,InvoiceNo,StockCode,ProductName,Quantity,InvoiceDate,UnitPrice,CustomerID,Country,TotalPrice,Year,Month,Day,Hour,DayOfWeek,Quarter,RevenueCategory,NameLength
305365,573080,M,MANUAL,1,2011-10-27 14:20:00,4161.06,12536,France,4161.06,2011,10,27,14,3,4,High,6
201787,562439,84879,ASSORTED COLOUR BIRD ORNAMENT,2880,2011-08-04 18:06:00,1.45,12931,UK,4176.00,2011,8,4,18,3,3,High,29
108202,550461,48185,DOORMAT FAIRY CAKE,670,2011-04-18 13:20:00,6.35,15749,UK,4254.50,2011,4,18,13,0,2,High,18
169598,558526,23173,REGENCY TEAPOT ROSES,540,2011-06-30 11:01:00,8.15,17949,UK,4401.00,2011,6,30,11,3,2,High,21
32259,540818,48185,DOORMAT FAIRY CAKE,670,2011-01-11 12:57:00,6.75,15749,UK,4522.50,2011,1,11,12,1,1,High,18
108200,550461,85123A,WHITE HANGING HEART T-LIGHT HOLDER,1930,2011-04-18 13:20:00,2.40,15749,UK,4632.00,2011,4,18,13,0,2,High,34
32197,540815,85123A,WHITE HANGING HEART T-LIGHT HOLDER,1930,2011-01-11 12:55:00,2.55,15749,UK,4921.50,2011,1,11,12,1,1,High,34
304623,573003,23084,RABBIT NIGHT LIGHT,2400,2011-10-27 12:11:00,2.08,14646,Netherlands,4992.00,2011,10,27,12,3,4,High,18
108204,550461,21108,FAIRY CAKE FLANNEL ASSORTED COLOUR,3114,2011-04-18 13:20:00,2.10,15749,UK,6539.40,2011,4,18,13,0,2,High,34
32199,540815,21108,FAIRY CAKE FLANNEL ASSORTED COLOUR,3114,2011-01-11 12:55:00,2.10,15749,UK,6539.40,2011,1,11,12,1,1,High,34
246041,567423,23243,SET OF TEA COFFEE SUGAR TINS PANTRY,1412,2011-09-20 11:05:00,5.06,17450,UK,7144.72,2011,9,20,11,1,3,High,35
116868,551697,POST,POSTAGE,1,2011-05-03 13:46:00,8142.75,16029,UK,8142.75,2011,5,3,13,1,2,High,7
153588,556444,22502,PICNIC BASKET WICKER 60 PIECES,60,2011-06-10 15:28:00,649.50,15098,UK,38970.00,2011,6,10,15,4,2,High,30
36521,541431,23166,MEDIUM CERAMIC TOP STORAGE JAR,74215,2011-01-18 10:01:00,1.04,12346,UK,77183.60,2011,1,18,10,1,1,High,30
392226,581483,23843,"PAPER CRAFT , LITTLE BIRDIE",80995,2011-12-09 09:15:00,2.08,16446,UK,168469.60,2011,12,9,9,4,4,High,27

Task 51: Find all transactions from either UK, Germany, or France.

In [734]:
df[(df['Country']=='UK')| (df['Country']=='Germany')|(df['Country']=='France')]

,InvoiceNo,StockCode,ProductName,Quantity,InvoiceDate,UnitPrice,CustomerID,Country,TotalPrice,Year,Month,Day,Hour,DayOfWeek,Quarter,RevenueCategory,NameLength
0,536365,85123A,WHITE HANGING HEART T-LIGHT HOLDER,6,2010-12-01 08:26:00,2.55,17850,UK,15.30,2010,12,1,8,2,4,Medium,34
1,536365,71053,WHITE METAL LANTERN,6,2010-12-01 08:26:00,3.39,17850,UK,20.34,2010,12,1,8,2,4,Medium,19
2,536365,84406B,CREAM CUPID HEARTS COAT HANGER,8,2010-12-01 08:26:00,2.75,17850,UK,22.00,2010,12,1,8,2,4,Medium,30
3,536365,84029G,KNITTED UNION FLAG HOT WATER BOTTLE,6,2010-12-01 08:26:00,3.39,17850,UK,20.34,2010,12,1,8,2,4,Medium,35
4,536365,84029E,RED WOOLLY HOTTIE WHITE HEART.,6,2010-12-01 08:26:00,3.39,17850,UK,20.34,2010,12,1,8,2,4,Medium,30
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
392687,581587,22613,PACK OF 20 SPACEBOY NAPKINS,12,2011-12-09 12:50:00,0.85,12680,France,10.20,2011,12,9,12,4,4,Medium,27
392688,581587,22899,CHILDREN'S APRON DOLLY GIRL,6,2011-12-09 12:50:00,2.10,12680,France,12.60,2011,12,9,12,4,4,Medium,28
392689,581587,23254,CHILDRENS CUTLERY DOLLY GIRL,4,2011-12-09 12:50:00,4.15,12680,France,16.60,2011,12,9,12,4,4,Medium,29
392690,581587,23255,CHILDRENS CUTLERY CIRCUS PARADE,4,2011-12-09 12:50:00,4.15,12680,France,16.60,2011,12,9,12,4,4,Medium,31
392691,581587,22138,BAKING SET 9 PIECE RETROSPOT,3,2011-12-09 12:50:00,4.95,12680,France,14.85,2011,12,9,12,4,4,Medium,29

Task 52: Find transactions where TotalPrice is above the 95th percentile.

In [735]:
df[df['TotalPrice'] > df['TotalPrice'].quantile(0.95)]

,InvoiceNo,StockCode,ProductName,Quantity,InvoiceDate,UnitPrice,CustomerID,Country,TotalPrice,Year,Month,Day,Hour,DayOfWeek,Quarter,RevenueCategory,NameLength
26,536370,22728,ALARM CLOCK BAKELIKE PINK,24,2010-12-01 08:45:00,3.75,12583,France,90.00,2010,12,1,8,2,4,Medium,25
27,536370,22727,ALARM CLOCK BAKELIKE RED,24,2010-12-01 08:45:00,3.75,12583,France,90.00,2010,12,1,8,2,4,Medium,25
34,536370,22326,ROUND SNACK BOXES SET OF4 WOODLAND,24,2010-12-01 08:45:00,2.95,12583,France,70.80,2010,12,1,8,2,4,Medium,35
40,536370,22900,SET 2 TEA TOWELS I LOVE LONDON,24,2010-12-01 08:45:00,2.95,12583,France,70.80,2010,12,1,8,2,4,Medium,32
46,536371,22086,PAPER CHAIN KIT 50'S CHRISTMAS,80,2010-12-01 09:00:00,2.55,13748,UK,204.00,2010,12,1,9,2,4,High,31
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
392610,581579,23313,VINTAGE CHRISTMAS BUNTING,15,2011-12-09 12:19:00,4.95,17581,UK,74.25,2011,12,9,12,4,4,Medium,25
392618,581579,23581,JUMBO BAG PAISLEY PARK,40,2011-12-09 12:19:00,1.79,17581,UK,71.60,2011,12,9,12,4,4,Medium,22
392651,581584,85038,6 CHOCOLATE LOVE HEART T-LIGHTS,48,2011-12-09 12:25:00,1.85,13777,UK,88.80,2011,12,9,12,4,4,Medium,31
392675,581586,21217,RED RETROSPOT ROUND CAKE TINS,24,2011-12-09 12:49:00,8.95,13113,UK,214.80,2011,12,9,12,4,4,High,29
392676,581586,20685,DOORMAT RED RETROSPOT,10,2011-12-09 12:49:00,7.08,13113,UK,70.80,2011,12,9,12,4,4,Medium,21

PART G: Sorting Operations

Task 53: Sort the entire dataset by InvoiceDate in ascending order.

In [736]:
df.sort_values(by='InvoiceDate')

,InvoiceNo,StockCode,ProductName,Quantity,InvoiceDate,UnitPrice,CustomerID,Country,TotalPrice,Year,Month,Day,Hour,DayOfWeek,Quarter,RevenueCategory,NameLength
0,536365,85123A,WHITE HANGING HEART T-LIGHT HOLDER,6,2010-12-01 08:26:00,2.55,17850,UK,15.30,2010,12,1,8,2,4,Medium,34
1,536365,71053,WHITE METAL LANTERN,6,2010-12-01 08:26:00,3.39,17850,UK,20.34,2010,12,1,8,2,4,Medium,19
2,536365,84406B,CREAM CUPID HEARTS COAT HANGER,8,2010-12-01 08:26:00,2.75,17850,UK,22.00,2010,12,1,8,2,4,Medium,30
3,536365,84029G,KNITTED UNION FLAG HOT WATER BOTTLE,6,2010-12-01 08:26:00,3.39,17850,UK,20.34,2010,12,1,8,2,4,Medium,35
4,536365,84029E,RED WOOLLY HOTTIE WHITE HEART.,6,2010-12-01 08:26:00,3.39,17850,UK,20.34,2010,12,1,8,2,4,Medium,30
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
392679,581587,22555,PLASTERS IN TIN STRONGMAN,12,2011-12-09 12:50:00,1.65,12680,France,19.80,2011,12,9,12,4,4,Medium,25
392678,581587,22556,PLASTERS IN TIN CIRCUS PARADE,12,2011-12-09 12:50:00,1.65,12680,France,19.80,2011,12,9,12,4,4,Medium,30
392690,581587,23255,CHILDRENS CUTLERY CIRCUS PARADE,4,2011-12-09 12:50:00,4.15,12680,France,16.60,2011,12,9,12,4,4,Medium,31
392683,581587,22730,ALARM CLOCK BAKELIKE IVORY,4,2011-12-09 12:50:00,3.75,12680,France,15.00,2011,12,9,12,4,4,Medium,26
392691,581587,22138,BAKING SET 9 PIECE RETROSPOT,3,2011-12-09 12:50:00,4.95,12680,France,14.85,2011,12,9,12,4,4,Medium,29

Task 54: Sort the dataset by TotalPrice in descending order.

In [737]:
df.sort_values(by='TotalPrice', ascending=False)

,InvoiceNo,StockCode,ProductName,Quantity,InvoiceDate,UnitPrice,CustomerID,Country,TotalPrice,Year,Month,Day,Hour,DayOfWeek,Quarter,RevenueCategory,NameLength
392226,581483,23843,"PAPER CRAFT , LITTLE BIRDIE",80995,2011-12-09 09:15:00,2.080,16446,UK,168469.600,2011,12,9,9,4,4,High,27
36521,541431,23166,MEDIUM CERAMIC TOP STORAGE JAR,74215,2011-01-18 10:01:00,1.040,12346,UK,77183.600,2011,1,18,10,1,1,High,30
153588,556444,22502,PICNIC BASKET WICKER 60 PIECES,60,2011-06-10 15:28:00,649.500,15098,UK,38970.000,2011,6,10,15,4,2,High,30
116868,551697,POST,POSTAGE,1,2011-05-03 13:46:00,8142.750,16029,UK,8142.750,2011,5,3,13,1,2,High,7
246041,567423,23243,SET OF TEA COFFEE SUGAR TINS PANTRY,1412,2011-09-20 11:05:00,5.060,17450,UK,7144.720,2011,9,20,11,1,3,High,35
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
364817,578757,16216,LETTER SHAPE PENCIL SHARPENER,1,2011-11-25 11:41:00,0.060,12748,UK,0.060,2011,11,25,11,4,4,Low,29
254730,568200,PADS,PADS TO MATCH ALL CUSHIONS,1,2011-09-25 14:58:00,0.001,16198,UK,0.001,2011,9,25,14,6,3,Low,26
256543,568375,BANK CHARGES,BANK CHARGES,1,2011-09-26 17:01:00,0.001,13405,UK,0.001,2011,9,26,17,0,3,Low,12
192219,561226,PADS,PADS TO MATCH ALL CUSHIONS,1,2011-07-26 10:13:00,0.001,15618,UK,0.001,2011,7,26,10,1,3,Low,26
105962,550193,PADS,PADS TO MATCH ALL CUSHIONS,1,2011-04-15 09:27:00,0.001,13952,UK,0.001,2011,4,15,9,4,2,Low,26

Task 55: Sort by Country (ascending) and then by TotalPrice (descending).

In [738]:
df.sort_values(by=['Country', 'TotalPrice'], ascending=[True, False])

,InvoiceNo,StockCode,ProductName,Quantity,InvoiceDate,UnitPrice,CustomerID,Country,TotalPrice,Year,Month,Day,Hour,DayOfWeek,Quarter,RevenueCategory,NameLength
340947,576394,23084,RABBIT NIGHT LIGHT,960,2011-11-15 10:32:00,1.79,12415,Australia,1718.40,2011,11,15,10,1,4,High,18
212475,563614,22940,FELTCRAFT CHRISTMAS FAIRY,336,2011-08-18 08:51:00,3.75,12415,Australia,1260.00,2011,8,18,8,3,3,High,25
68524,545475,21217,RED RETROSPOT ROUND CAKE TINS,120,2011-03-03 10:59:00,8.95,12415,Australia,1074.00,2011,3,3,10,3,1,High,29
212545,563614,23314,VINTAGE CHRISTMAS TABLECLOTH,100,2011-08-18 08:51:00,10.39,12415,Australia,1039.00,2011,8,18,8,3,3,High,28
27583,540267,22720,SET OF 3 CAKE TINS PANTRY DESIGN,240,2011-01-06 11:12:00,4.25,12415,Australia,1020.00,2011,1,6,11,3,1,High,33
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
194930,561661,47343A,FUSCHIA FLOWER PURSE WITH BEADS,1,2011-07-28 16:21:00,0.83,12743,Unspecified,0.83,2011,7,28,16,3,3,Low,31
194811,561658,47574A,ENGLISH ROSE SCENTED HANGING FLOWER,1,2011-07-28 16:06:00,0.75,12743,Unspecified,0.75,2011,7,28,16,3,3,Low,35
194875,561658,47348A,FUSCHIA VOILE POINTY SHOE DEC,1,2011-07-28 16:06:00,0.39,12743,Unspecified,0.39,2011,7,28,16,3,3,Low,29
194925,561661,22396,MAGNETS PACK OF 4 RETRO PHOTO,1,2011-07-28 16:21:00,0.39,12743,Unspecified,0.39,2011,7,28,16,3,3,Low,29
194900,561661,79063C,"RETRO PILL BOX KEY CHAIN,THE KING",1,2011-07-28 16:21:00,0.19,12743,Unspecified,0.19,2011,7,28,16,3,3,Low,33

Task 56: Find the 20 highest-value transactions.

In [739]:
df.sort_values(by='TotalPrice',ascending=False).head(20)

,InvoiceNo,StockCode,ProductName,Quantity,InvoiceDate,UnitPrice,CustomerID,Country,TotalPrice,Year,Month,Day,Hour,DayOfWeek,Quarter,RevenueCategory,NameLength
392226,581483,23843,"PAPER CRAFT , LITTLE BIRDIE",80995,2011-12-09 09:15:00,2.08,16446,UK,168469.60,2011,12,9,9,4,4,High,27
36521,541431,23166,MEDIUM CERAMIC TOP STORAGE JAR,74215,2011-01-18 10:01:00,1.04,12346,UK,77183.60,2011,1,18,10,1,1,High,30
153588,556444,22502,PICNIC BASKET WICKER 60 PIECES,60,2011-06-10 15:28:00,649.50,15098,UK,38970.00,2011,6,10,15,4,2,High,30
116868,551697,POST,POSTAGE,1,2011-05-03 13:46:00,8142.75,16029,UK,8142.75,2011,5,3,13,1,2,High,7
246041,567423,23243,SET OF TEA COFFEE SUGAR TINS PANTRY,1412,2011-09-20 11:05:00,5.06,17450,UK,7144.72,2011,9,20,11,1,3,High,35
108204,550461,21108,FAIRY CAKE FLANNEL ASSORTED COLOUR,3114,2011-04-18 13:20:00,2.10,15749,UK,6539.40,2011,4,18,13,0,2,High,34
32199,540815,21108,FAIRY CAKE FLANNEL ASSORTED COLOUR,3114,2011-01-11 12:55:00,2.10,15749,UK,6539.40,2011,1,11,12,1,1,High,34
304623,573003,23084,RABBIT NIGHT LIGHT,2400,2011-10-27 12:11:00,2.08,14646,Netherlands,4992.00,2011,10,27,12,3,4,High,18
32197,540815,85123A,WHITE HANGING HEART T-LIGHT HOLDER,1930,2011-01-11 12:55:00,2.55,15749,UK,4921.50,2011,1,11,12,1,1,High,34
108200,550461,85123A,WHITE HANGING HEART T-LIGHT HOLDER,1930,2011-04-18 13:20:00,2.40,15749,UK,4632.00,2011,4,18,13,0,2,High,34
32259,540818,48185,DOORMAT FAIRY CAKE,670,2011-01-11 12:57:00,6.75,15749,UK,4522.50,2011,1,11,12,1,1,High,18
169598,558526,23173,REGENCY TEAPOT ROSES,540,2011-06-30 11:01:00,8.15,17949,UK,4401.00,2011,6,30,11,3,2,High,21
108202,550461,48185,DOORMAT FAIRY CAKE,670,2011-04-18 13:20:00,6.35,15749,UK,4254.50,2011,4,18,13,0,2,High,18
201787,562439,84879,ASSORTED COLOUR BIRD ORNAMENT,2880,2011-08-04 18:06:00,1.45,12931,UK,4176.00,2011,8,4,18,3,3,High,29
305341,573077,M,MANUAL,1,2011-10-27 14:13:00,4161.06,12536,France,4161.06,2011,10,27,14,3,4,High,6
305365,573080,M,MANUAL,1,2011-10-27 14:20:00,4161.06,12536,France,4161.06,2011,10,27,14,3,4,High,6
31657,540689,22470,HEART OF WICKER LARGE,1284,2011-01-11 08:43:00,3.21,17450,UK,4121.64,2011,1,11,8,1,1,High,21
292020,571751,M,MANUAL,1,2011-10-19 11:18:00,3949.32,12744,Singapore,3949.32,2011,10,19,11,2,4,High,6
388138,581115,22413,METAL SIGN TAKE IT OR LEAVE IT,1404,2011-12-07 12:20:00,2.75,15195,UK,3861.00,2011,12,7,12,2,4,High,31
10525,537659,21623,VINTAGE UNION JACK MEMOBOARD,600,2010-12-07 16:43:00,6.38,18102,UK,3828.00,2010,12,7,16,1,4,High,28

Task 57: Find the 20 lowest-value transactions (excluding returns).

In [740]:
df[df['TotalPrice']>0].sort_values(by='TotalPrice').head(20)

,InvoiceNo,StockCode,ProductName,Quantity,InvoiceDate,UnitPrice,CustomerID,Country,TotalPrice,Year,Month,Day,Hour,DayOfWeek,Quarter,RevenueCategory,NameLength
254730,568200,PADS,PADS TO MATCH ALL CUSHIONS,1,2011-09-25 14:58:00,0.001,16198,UK,0.001,2011,9,25,14,6,3,Low,26
105962,550193,PADS,PADS TO MATCH ALL CUSHIONS,1,2011-04-15 09:27:00,0.001,13952,UK,0.001,2011,4,15,9,4,2,Low,26
192219,561226,PADS,PADS TO MATCH ALL CUSHIONS,1,2011-07-26 10:13:00,0.001,15618,UK,0.001,2011,7,26,10,1,3,Low,26
256543,568375,BANK CHARGES,BANK CHARGES,1,2011-09-26 17:01:00,0.001,13405,UK,0.001,2011,9,26,17,0,3,Low,12
364817,578757,16216,LETTER SHAPE PENCIL SHARPENER,1,2011-11-25 11:41:00,0.060,12748,UK,0.060,2011,11,25,11,4,4,Low,29
196908,561894,M,MANUAL,1,2011-07-31 15:00:00,0.080,14456,UK,0.080,2011,7,31,15,6,3,Low,6
176900,559509,17038,PORCELAIN BUDAH INCENSE HOLDER,1,2011-07-08 15:25:00,0.100,15920,UK,0.100,2011,7,8,15,4,3,Low,30
167801,558198,17038,PORCELAIN BUDAH INCENSE HOLDER,1,2011-06-27 12:49:00,0.100,14104,UK,0.100,2011,6,27,12,0,2,Low,30
362505,578479,17038,PORCELAIN BUDAH INCENSE HOLDER,1,2011-11-24 12:48:00,0.100,15858,UK,0.100,2011,11,24,12,3,4,Low,30
295536,572103,16048,TEATIME ROUND PENCIL SHARPENER,1,2011-10-20 15:57:00,0.120,17571,UK,0.120,2011,10,20,15,3,4,Low,31
94732,548711,47013A,WINE BOTTLE DRESSING LT.BLUE,1,2011-04-03 14:24:00,0.120,18116,UK,0.120,2011,4,3,14,6,2,Low,28
190318,561036,85204,HANGING WOOD AND FELT FLOWER,1,2011-07-24 11:54:00,0.120,13137,UK,0.120,2011,7,24,11,6,3,Low,28
293073,571909,16048,TEATIME ROUND PENCIL SHARPENER,1,2011-10-19 15:08:00,0.120,15006,UK,0.120,2011,10,19,15,2,4,Low,31
110084,550651,21401,BLUE PUDDING SPOON,1,2011-04-19 16:52:00,0.120,15436,UK,0.120,2011,4,19,16,1,2,Low,18
106580,550298,20668,DISCO BALL CHRISTMAS DECORATION,1,2011-04-15 16:11:00,0.120,17346,UK,0.120,2011,4,15,16,4,2,Low,31
226985,565426,85204,HANGING WOOD AND FELT FLOWER,1,2011-09-04 12:41:00,0.120,12851,UK,0.120,2011,9,4,12,6,3,Low,28
276434,570238,16048,TEATIME ROUND PENCIL SHARPENER,1,2011-10-09 15:01:00,0.120,16332,UK,0.120,2011,10,9,15,6,4,Low,31
334062,575856,16219,HOUSE SHAPE PENCIL SHARPENER,2,2011-11-11 12:28:00,0.060,16386,UK,0.120,2011,11,11,12,4,4,Low,28
184362,560359,16008,SMALL FOLDING SCISSOR(POINTED EDGE),1,2011-07-18 11:47:00,0.120,14159,UK,0.120,2011,7,18,11,0,3,Low,35
177047,559525,21402,RED EGG SPOON,1,2011-07-10 10:30:00,0.120,16923,UK,0.120,2011,7,10,10,6,3,Low,15

PART H: Aggregation and Summary Statistics

Task 58: Calculate the total revenue generated across all transactions.

In [741]:
df['TotalPrice'].sum()

np.float64(8887208.894)

Task 59: Calculate the average transaction value.

In [742]:
df['TotalPrice'].mean()

np.float64(22.6314997351614)

Task 60: Find the maximum and minimum transaction values.

In [743]:

df['TotalPrice'].max(), df['TotalPrice'].min()

(168469.6, 0.001)

Task 61: Calculate the total number of unique customers.

In [744]:
df['CustomerID'].nunique()

4338

Task 62: Calculate the total number of unique products sold.

In [745]:
df['ProductName'].nunique()

3877

Task 63: Find out how many unique countries are represented in the data.

In [559]:
df['Country'].nunique()

37

Task 64: Calculate the average number of items per transaction.

In [560]:
df['Quantity'].mean()

np.float64(13.1197019547126)

Task 65: Find which product appears most frequently in transactions.

In [561]:
df['ProductName'].mode()[0]

'WHITE HANGING HEART T-LIGHT HOLDER'

PART I: Country-wise Analysis

Task 66: Calculate total revenue for each country.

In [562]:
df.groupby('Country')['TotalPrice'].sum()

Country
Australia                138453.810
Austria                   10198.680
Bahrain                     548.400
Belgium                   41196.340
Brazil                     1143.600
Canada                     3666.380
Channel Islands           20440.540
Cyprus                    13502.850
Czech Republic              826.740
Denmark                   18955.340
European Community         1300.250
Finland                   22546.080
France                   208934.310
Germany                  228678.400
Greece                     4760.520
Iceland                    4310.000
Ireland                  265262.460
Israel                     7215.840
Italy                     17483.240
Japan                     37416.370
Lebanon                    1693.880
Lithuania                  1661.060
Malta                      2725.590
Netherlands              285446.340
Norway                    36165.440
Poland                     7334.650
Portugal                  33375.840
RSA                        1002.310
Saudi Arabia                145.920
Singapore                 21279.290
Spain                     61558.560
Sweden                    38367.830
Switzerland               56443.950
UK                      7285024.644
USA                        3580.390
United Arab Emirates       1902.280
Unspecified                2660.770
Name: TotalPrice, dtype: float64

Task 67: Find the top 10 countries by total revenue.

In [563]:
df.groupby('Country')['TotalPrice'].sum().nlargest(10)

Country
UK             7285024.644
Netherlands     285446.340
Ireland         265262.460
Germany         228678.400
France          208934.310
Australia       138453.810
Spain            61558.560
Switzerland      56443.950
Belgium          41196.340
Sweden           38367.830
Name: TotalPrice, dtype: float64

Task 68: Calculate the number of transactions per country.

In [564]:
df['Country'].value_counts()

Country
UK                      349203
Germany                   9025
France                    8326
Ireland                   7226
Spain                     2479
Netherlands               2359
Belgium                   2031
Switzerland               1841
Portugal                  1453
Australia                 1181
Norway                    1071
Italy                      758
Channel Islands            747
Finland                    685
Cyprus                     603
Sweden                     450
Austria                    398
Denmark                    380
Poland                     330
Japan                      321
Israel                     245
Unspecified                241
Singapore                  222
Iceland                    182
USA                        179
Canada                     151
Greece                     145
Malta                      112
United Arab Emirates        68
European Community          60
RSA                         57
Lebanon                     45
Lithuania                   35
Brazil                      32
Czech Republic              25
Bahrain                     17
Saudi Arabia                 9
Name: count, dtype: int64

Task 69: Calculate the average transaction value for each country.

In [565]:
df.groupby('Country')['TotalPrice'].mean()

Country
Australia               117.234386
Austria                  25.624824
Bahrain                  32.258824
Belgium                  20.283772
Brazil                   35.737500
Canada                   24.280662
Channel Islands          27.363507
Cyprus                   22.392786
Czech Republic           33.069600
Denmark                  49.882474
European Community       21.670833
Finland                  32.913985
France                   25.094200
Germany                  25.338327
Greece                   32.831172
Iceland                  23.681319
Ireland                  36.709446
Israel                   29.452408
Italy                    23.064960
Japan                   116.561900
Lebanon                  37.641778
Lithuania                47.458857
Malta                    24.335625
Netherlands             121.003111
Norway                   33.767918
Poland                   22.226212
Portugal                 22.970296
RSA                      17.584386
Saudi Arabia             16.213333
Singapore                95.852658
Spain                    24.832013
Sweden                   85.261844
Switzerland              30.659397
UK                       20.861862
USA                      20.002179
United Arab Emirates     27.974706
Unspecified              11.040539
Name: TotalPrice, dtype: float64

Task 70: Find which country has the highest average order value.

In [566]:
df.groupby('Country')['TotalPrice'].mean().sort_values(ascending=False).head(1)

Country
Netherlands    121.003111
Name: TotalPrice, dtype: float64

Task 71: Calculate the total quantity of products sold to each country.

In [567]:
df.groupby('Country')['Quantity'].sum()

Country
Australia                 83891
Austria                    4881
Bahrain                     260
Belgium                   23237
Brazil                      356
Canada                     2763
Channel Islands            9485
Cyprus                     6340
Czech Republic              671
Denmark                    8235
European Community          499
Finland                   10704
France                   111428
Germany                  119154
Greece                     1557
Iceland                    2458
Ireland                  140133
Israel                     4043
Italy                      8112
Japan                     26016
Lebanon                     386
Lithuania                   652
Malta                       970
Netherlands              200361
Norway                    19336
Poland                     3684
Portugal                  16095
RSA                         351
Saudi Arabia                 80
Singapore                  5241
Spain                     27933
Sweden                    36078
Switzerland               30082
UK                      4241305
USA                        2458
United Arab Emirates        982
Unspecified                1785
Name: Quantity, dtype: int64

PART J: Time-based Analysis

Task 73: Calculate total revenue for each month.

In [568]:
df.groupby('Month')['TotalPrice'].sum()

Month
1      568101.310
2      446084.920
3      594081.760
4      468374.331
5      677355.150
6      660046.050
7      598962.901
8      644051.040
9      950690.202
10    1035642.450
11    1156205.610
12    1087613.170
Name: TotalPrice, dtype: float64

Task 74: Find which month had the highest sales.

In [569]:
df.groupby('Month')['TotalPrice'].sum().sort_values(ascending=False).head(1)

Month
11    1156205.61
Name: TotalPrice, dtype: float64

Task 75: Calculate revenue for each quarter.

In [570]:
df.groupby('Quarter')['TotalPrice'].sum()

Quarter
1    1608267.990
2    1805775.531
3    2193704.143
4    3279461.230
Name: TotalPrice, dtype: float64

Task 76: Calculate the number of transactions per day of the week.

In [571]:
df['DayOfWeek'].value_counts()

DayOfWeek
3    79243
2    68040
1    65744
0    64231
6    61212
4    54222
Name: count, dtype: int64

Task 77: Find which day of the week has the highest average revenue.

In [572]:
df.groupby('DayOfWeek')['TotalPrice'].mean().sort_values(ascending=False).head(1)

DayOfWeek
4    27.352012
Name: TotalPrice, dtype: float64

Task 78: Calculate hourly sales patterns (revenue by hour of day)

In [573]:
df.groupby('Hour')['TotalPrice'].sum()

Hour
6           4.250
7       31059.210
8      281997.790
9      842392.341
10    1259267.591
11    1101177.600
12    1373695.390
13    1168724.200
14     991992.821
15     963559.680
16     467380.560
17     233811.591
18     104744.990
19      48568.400
20      18832.480
Name: TotalPrice, dtype: float64

Task 79: Compare sales between 2010 and 2011.

In [574]:
df.groupby('Year')['TotalPrice'].sum()

Year
2010     570422.730
2011    8316786.164
Name: TotalPrice, dtype: float64

Task 80: Calculate month-over-month revenue growth rate.

In [575]:
monthly_sales = df.groupby('Month')['TotalPrice'].sum()
monthly_sales.pct_change() * 100

Month
1           NaN
2    -21.477928
3     33.176831
4    -21.159954
5     44.618333
6     -2.555395
7     -9.254377
8      7.527701
9     47.611003
10     8.935850
11    11.641388
12    -5.932547
Name: TotalPrice, dtype: float64

PART K: Customer Analysis

Task 81: Calculate total spending for each customer.

In [576]:
df.groupby('CustomerID')['TotalPrice'].sum()

CustomerID
12346    77183.60
12347     4310.00
12348     1797.24
12349     1757.55
12350      334.40
           ...
18280      180.60
18281       80.82
18282      178.05
18283     2045.53
18287     1837.28
Name: TotalPrice, Length: 4338, dtype: float64

Task 82: Find the top 20 customers by total spending.

In [577]:
df.groupby('CustomerID')['TotalPrice'].sum().sort_values(ascending=False).head(20)

CustomerID
14646    280206.02
18102    259657.30
17450    194390.79
16446    168472.50
14911    143711.17
12415    124914.53
14156    117210.08
17511     91062.38
16029     80850.84
12346     77183.60
16684     66653.56
14096     65164.79
13694     65039.62
15311     60632.75
13089     58762.08
17949     58510.48
15769     56252.72
15061     54534.14
14298     51527.30
14088     50491.81
Name: TotalPrice, dtype: float64

Task 83: Calculate the number of transactions per customer.

In [578]:
df.groupby('CustomerID')['InvoiceNo'].count()

CustomerID
12346      1
12347    182
12348     31
12349     73
12350     17
        ...
18280     10
18281      7
18282     12
18283    721
18287     70
Name: InvoiceNo, Length: 4338, dtype: int64

Task 84: Find the average order value for each customer.

In [579]:
df.groupby('CustomerID')['TotalPrice'].mean()

CustomerID
12346    77183.600000
12347       23.681319
12348       57.975484
12349       24.076027
12350       19.670588
             ...
18280       18.060000
18281       11.545714
18282       14.837500
18283        2.837074
18287       26.246857
Name: TotalPrice, Length: 4338, dtype: float64

Task 85: Identify customers who have made only one purchase.

In [580]:
single_purchase_customers = customer_orders[customer_orders == 1]

In [581]:
single_purchase_customers

CustomerID
12346    1
12349    1
12350    1
12353    1
12354    1
        ..
18276    1
18277    1
18278    1
18280    1
18281    1
Name: InvoiceNo, Length: 1493, dtype: int64

Task 86: Find customers who spent more than 10,000 in total.

In [582]:
high_spenders = customer_spending[customer_spending > 10000]

In [583]:
high_spenders

CustomerID
12346     77183.60
12409     11072.67
12415    124914.53
12433     13375.87
12471     19788.65
           ...
17841     40519.84
17857     26879.04
17865     10526.32
17949     58510.48
18102    259657.30
Name: TotalPrice, Length: 104, dtype: float64

Task 87:Calculate the average number of days between purchases for each customer.

In [584]:
purchase_dates = df[['CustomerID', 'InvoiceDate']].drop_duplicates().sort_values(['CustomerID', 'InvoiceDate'])
avg_days_between = purchase_dates.groupby('CustomerID')['InvoiceDate'].apply(lambda x: x.diff().mean().days)

In [585]:
avg_days_between

CustomerID
12346      NaN
12347     60.0
12348     94.0
12349      NaN
12350      NaN
         ...
18280      NaN
18281      NaN
18282    118.0
18283     22.0
18287     79.0
Name: InvoiceDate, Length: 4338, dtype: float64

PART L: Product Analysis

Task 88: Find the top 20 products by revenue.

In [586]:
df.groupby('ProductName')['TotalPrice'].sum().sort_values(ascending=False).head(20)

ProductName
PAPER CRAFT , LITTLE BIRDIE           168469.60
REGENCY CAKESTAND 3 TIER              142264.75
WHITE HANGING HEART T-LIGHT HOLDER    100392.10
JUMBO BAG RED RETROSPOT                85040.54
MEDIUM CERAMIC TOP STORAGE JAR         81416.73
POSTAGE                                77803.96
PARTY BUNTING                          68785.23
ASSORTED COLOUR BIRD ORNAMENT          56413.03
MANUAL                                 53419.93
RABBIT NIGHT LIGHT                     51251.24
CHILLI LIGHTS                          46265.11
PAPER CHAIN KIT 50'S CHRISTMAS         42584.13
PICNIC BASKET WICKER 60 PIECES         39619.50
BLACK RECORD COVER FRAME               39045.80
JUMBO BAG PINK POLKADOT                37254.36
DOORMAT KEEP CALM AND COME IN          35880.85
SPOTTY BUNTING                         35509.55
WOOD BLACK BOARD ANT WHITE FINISH      34414.71
SET OF 3 CAKE TINS PANTRY DESIGN       33298.30
JAM MAKING SET WITH JARS               32616.22
Name: TotalPrice, dtype: float64

Task 89: Find the top 20 products by quantity sold.

In [587]:
top_quantity_products = df.groupby('ProductName')['Quantity'].sum().sort_values(ascending=False).head(20)

In [588]:
top_quantity_products

ProductName
PAPER CRAFT , LITTLE BIRDIE           80995
MEDIUM CERAMIC TOP STORAGE JAR        77916
WORLD WAR 2 GLIDERS ASSTD DESIGNS     54319
JUMBO BAG RED RETROSPOT               46078
WHITE HANGING HEART T-LIGHT HOLDER    36706
ASSORTED COLOUR BIRD ORNAMENT         35263
PACK OF 72 RETROSPOT CAKE CASES       33670
POPCORN HOLDER                        30919
RABBIT NIGHT LIGHT                    27153
MINI PAINT SET VINTAGE                26076
PACK OF 12 LONDON TISSUES             25329
PACK OF 60 PINK PAISLEY CAKE CASES    24230
BROCADE RING PURSE                    22927
VICTORIAN GLASS HANGING T-LIGHT       22404
ASSORTED COLOURS SILK FAN             21876
RED  HARMONICA IN BOX                 20945
JUMBO BAG PINK POLKADOT               20148
SMALL POPCORN HOLDER                  18241
60 TEATIME FAIRY CAKE CASES           17664
LUNCH BAG RED RETROSPOT               17576
Name: Quantity, dtype: int64

Task 90: Calculate the average price for each product.

In [589]:
avg_product_price = df.groupby('ProductName')['UnitPrice'].mean()

In [590]:
avg_product_price

ProductName
 4 PURPLE FLOCK DINNER CANDLES       2.312162
 50'S CHRISTMAS GIFT BAG LARGE       1.248073
 DOLLY GIRL BEAKER                   1.243704
 I LOVE LONDON MINI BACKPACK         4.138406
 I LOVE LONDON MINI RUCKSACK         4.150000
                                      ...
ZINC T-LIGHT HOLDER STARS SMALL      0.836975
ZINC TOP  2 DOOR WOODEN SHELF       16.950000
ZINC WILLIE WINKIE  CANDLE STICK     0.872461
ZINC WIRE KITCHEN ORGANISER          7.175000
ZINC WIRE SWEETHEART LETTER TRAY     3.454000
Name: UnitPrice, Length: 3877, dtype: float64

Task 91: Find products that have been sold to more than 10 different countries.

In [591]:
countries=df.groupby('ProductName')['Country'].count()

In [592]:
countries[countries>10]

ProductName
 4 PURPLE FLOCK DINNER CANDLES       37
 50'S CHRISTMAS GIFT BAG LARGE      109
 DOLLY GIRL BEAKER                  135
 I LOVE LONDON MINI BACKPACK         69
 NINE DRAWER OFFICE TIDY             30
                                   ...
ZINC T-LIGHT HOLDER STAR LARGE      149
ZINC T-LIGHT HOLDER STARS SMALL     238
ZINC WILLIE WINKIE  CANDLE STICK    191
ZINC WIRE KITCHEN ORGANISER          12
ZINC WIRE SWEETHEART LETTER TRAY     20
Name: Country, Length: 2896, dtype: int64

Task 92: Identify the most expensive and cheapest products.

In [593]:
products=df.groupby('ProductName')['UnitPrice'].sum()

In [594]:
products[products==products.max()]

ProductName
MANUAL    49775.31
Name: UnitPrice, dtype: float64

In [595]:
products[products == products.min()]

ProductName
PADS TO MATCH ALL CUSHIONS    0.003
Name: UnitPrice, dtype: float64

PART M: Advanced Grouping

Task 93: Calculate total revenue by Country and Year.

In [596]:
 df.groupby(['Country', 'Year'])['TotalPrice'].sum()

Country               Year
Australia             2010        965.350
                      2011     137488.460
Austria               2010        277.200
                      2011       9921.480
Bahrain               2011        548.400
Belgium               2010       1809.910
                      2011      39386.430
Brazil                2011       1143.600
Canada                2011       3666.380
Channel Islands       2010        363.530
                      2011      20077.010
Cyprus                2010       1587.070
                      2011      11915.780
Czech Republic        2011        826.740
Denmark               2010       1281.500
                      2011      17673.840
European Community    2011       1300.250
Finland               2010        892.800
                      2011      21653.280
France                2010       9616.310
                      2011     199318.000
Germany               2010      15205.740
                      2011     213472.660
Greece                2011       4760.520
Iceland               2010        711.790
                      2011       3598.210
Ireland               2010       8813.880
                      2011     256448.580
Israel                2011       7215.840
Italy                 2010        811.500
                      2011      16671.740
Japan                 2010       7705.070
                      2011      29711.300
Lebanon               2011       1693.880
Lithuania             2010       1661.060
Malta                 2011       2725.590
Netherlands           2010       8784.480
                      2011     276661.860
Norway                2010       3787.120
                      2011      32378.320
Poland                2010        248.160
                      2011       7086.490
Portugal              2010       2439.970
                      2011      30935.870
RSA                   2011       1002.310
Saudi Arabia          2011        145.920
Singapore             2011      21279.290
Spain                 2010       1843.730
                      2011      59714.830
Sweden                2010       3834.300
                      2011      34533.530
Switzerland           2010       1304.920
                      2011      55139.030
UK                    2010     496477.340
                      2011    6788547.304
USA                   2011       3580.390
United Arab Emirates  2011       1902.280
Unspecified           2011       2660.770
Name: TotalPrice, dtype: float64

Task 94: Calculate average transaction value by Country and Quarter.

In [597]:
 df.groupby(['Country', 'Quarter'])['TotalPrice'].mean()

Country               Quarter
Australia             1          126.349136
                      2          130.685743
                      3           88.479103
                      4          136.336559
Austria               1           57.089231
                                    ...
USA                   4           20.359490
United Arab Emirates  1           29.641333
                      3           26.658947
Unspecified           2           18.577222
                      3            7.829645
Name: TotalPrice, Length: 117, dtype: float64

Task 95: Find the number of transactions by Country and Month.

In [598]:
df.groupby(['Country', 'Month'])['InvoiceNo'].nunique()

Country      Month
Australia    1        9
             2        5
             3        3
             4        2
             5        4
                     ..
Unspecified  4        1
             5        1
             6        1
             7        3
             8        2
Name: InvoiceNo, Length: 271, dtype: int64

Task 96: Calculate total revenue by Day of Week and Hour.

In [599]:
revenue_day_hour = df.groupby(['DayOfWeek', 'Hour'])['TotalPrice'].sum()
revenue_day_hour

DayOfWeek  Hour
0          7         1494.580
           8        43343.390
           9       123955.190
           10      183627.120
           11      160302.060
                      ...
6          12      152903.710
           13      137280.880
           14      104196.381
           15      129053.660
           16       38799.070
Name: TotalPrice, Length: 73, dtype: float64

Task 96: Calculate total revenue by Day of Week and Hour.

In [600]:
df.groupby(['DayOfWeek','Hour'])['TotalPrice'].sum()

DayOfWeek  Hour
0          7         1494.580
           8        43343.390
           9       123955.190
           10      183627.120
           11      160302.060
                      ...
6          12      152903.710
           13      137280.880
           14      104196.381
           15      129053.660
           16       38799.070
Name: TotalPrice, Length: 73, dtype: float64

Task 97: For each country, calculate the sum, mean, maximum, and minimum TotalPrice.

In [601]:
df.groupby('Country')['TotalPrice'].agg(['sum', 'mean', 'max', 'min'])

                              sum        mean        max     min
Country
Australia              138453.810  117.234386    1718.40   0.420
Austria                 10198.680   25.624824     360.00   2.880
Bahrain                   548.400   32.258824     120.00  11.600
Belgium                 41196.340   20.283772     165.00   2.500
Brazil                   1143.600   35.737500     175.20  15.000
Canada                   3666.380   24.280662     550.94   2.500
Channel Islands         20440.540   27.363507     408.00   4.560
Cyprus                  13502.850   22.392786     320.69   0.830
Czech Republic            826.740   33.069600      70.80  10.080
Denmark                 18955.340   49.882474     428.40   4.680
European Community       1300.250   21.670833      60.00   7.800
Finland                 22546.080   32.913985     551.20   2.340
France                 208934.310   25.094200    4161.06   0.290
Germany                228678.400   25.338327     876.00   0.390
Greece                   4760.520   32.831172     175.20   3.360
Iceland                  4310.000   23.681319     249.60   5.040
Ireland                265262.460   36.709446    2365.20   1.250
Israel                   7215.840   29.452408     350.40   0.950
Italy                   17483.240   23.064960     300.00   2.880
Japan                   37416.370  116.561900    3794.40   0.290
Lebanon                  1693.880   37.641778     153.00  10.200
Lithuania                1661.060   47.458857     122.40  13.200
Malta                    2725.590   24.335625     455.00   2.280
Netherlands            285446.340  121.003111    4992.00   0.390
Norway                  36165.440   33.767918     700.00   2.880
Poland                   7334.650   22.226212     120.00   6.600
Portugal                33375.840   22.970296    1241.98   0.290
RSA                      1002.310   17.584386      38.25   5.040
Saudi Arabia              145.920   16.213333      19.80   5.040
Singapore               21279.290   95.852658    3949.32   2.340
Spain                   61558.560   24.832013    1350.00   0.210
Sweden                  38367.830   85.261844    1188.00   5.040
Switzerland             56443.950   30.659397     360.00   2.000
UK                    7285024.644   20.861862  168469.60   0.001
USA                      3580.390   20.002179      81.36   1.250
United Arab Emirates     1902.280   27.974706     153.00   3.480
Unspecified              2660.770   11.040539      69.36   0.190

Task 98: For each customer, calculate their total spending, number of orders, and average order value.

In [602]:
df.groupby('CustomerID')[['TotalPrice','InvoiceNo','TotalPrice']].agg({'TotalPrice':['sum','mean'],'InvoiceNo':'count'})

           TotalPrice               InvoiceNo
                  sum          mean     count
CustomerID
12346        77183.60  77183.600000         1
12347         4310.00     23.681319       182
12348         1797.24     57.975484        31
12349         1757.55     24.076027        73
12350          334.40     19.670588        17
...               ...           ...       ...
18280          180.60     18.060000        10
18281           80.82     11.545714         7
18282          178.05     14.837500        12
18283         2045.53      2.837074       721
18287         1837.28     26.246857        70

[4338 rows x 3 columns]

Task 99: For each product, calculate total quantity sold and total revenue generated.

In [603]:
df.groupby('ProductName')[['Quantity','TotalPrice']].sum()

                                  Quantity  TotalPrice
ProductName
 4 PURPLE FLOCK DINNER CANDLES         138      265.66
 50'S CHRISTMAS GIFT BAG LARGE        1885     2272.25
 DOLLY GIRL BEAKER                    2394     2754.50
 I LOVE LONDON MINI BACKPACK           359     1449.85
 I LOVE LONDON MINI RUCKSACK             1        4.15
...                                    ...         ...
ZINC T-LIGHT HOLDER STARS SMALL       4894     3879.98
ZINC TOP  2 DOOR WOODEN SHELF           10      169.50
ZINC WILLIE WINKIE  CANDLE STICK      2606     2176.10
ZINC WIRE KITCHEN ORGANISER             25      156.80
ZINC WIRE SWEETHEART LETTER TRAY        80      253.24

[3877 rows x 2 columns]

PART N: Creating Summary Reports


Task 100: Create a summary table showing monthly sales for each country (countries as rows, months as columns).

In [640]:
country_monthly_sales=df.pivot_table(index='Country',columns='Month',values='TotalPrice',aggfunc='sum',fill_value=0)
country_monthly_sales

Month,1,2,3,4,5,6,7,8,9,10,11,12
Country,,,,,,,,,,,,
Australia,9017.71,14695.42,17223.99,771.600,13638.41,25187.77,4964.380,22489.20,5106.730,17150.53,7242.72,965.35
Austria,0.00,518.36,1708.12,680.780,1249.43,0.00,1191.950,1516.08,0.000,1043.78,1329.78,960.40
Bahrain,0.00,0.00,0.00,0.000,548.40,0.00,0.000,0.00,0.000,0.00,0.00,0.00
Belgium,1200.20,2181.07,3351.98,1989.480,2732.40,4274.82,2475.570,3554.02,4208.020,5685.38,6315.76,3227.64
Brazil,0.00,0.00,0.00,1143.600,0.00,0.00,0.000,0.00,0.000,0.00,0.00,0.00
Canada,0.00,0.00,140.54,0.000,534.24,1171.46,1768.580,51.56,0.000,0.00,0.00,0.00
Channel Islands,675.58,1784.71,3509.33,293.000,1207.24,2060.03,0.000,4886.88,1323.750,2623.32,1514.77,561.93
Cyprus,547.50,4334.24,938.39,0.000,0.00,1109.32,0.000,0.00,196.350,4350.32,439.66,1587.07
Czech Republic,0.00,549.26,0.00,0.000,0.00,0.00,0.000,0.00,0.000,277.48,0.00,0.00
Denmark,0.00,399.22,3978.99,0.000,515.70,3261.15,376.240,213.15,4570.160,1490.76,2699.57,1450.40
European Community,0.00,0.00,0.00,191.400,0.00,432.05,676.800,0.00,0.000,0.00,0.00,0.00
Finland,889.02,205.16,5936.82,1688.920,0.00,329.56,2996.730,1376.50,1105.450,2822.12,3070.24,2125.56
France,17740.12,8515.96,14584.95,5529.610,17606.48,16078.97,10000.190,13810.96,23428.040,33471.05,31274.75,16893.23
Germany,16880.84,9581.05,14392.69,12315.540,25734.70,13246.35,16440.980,19220.77,18079.470,31628.42,27967.68,23189.91
Greece,2661.24,0.00,387.31,609.740,0.00,0.00,421.240,0.00,0.000,0.00,0.00,680.99
Iceland,475.39,0.00,0.00,636.250,0.00,382.52,0.000,584.91,0.000,1294.32,0.00,936.61
Ireland,21904.19,10111.52,21674.36,7570.500,15977.15,19835.99,40854.150,16957.83,40832.640,24302.92,29448.41,15792.80
Israel,0.00,779.10,0.00,0.000,0.00,0.00,1430.750,4873.81,0.000,132.18,0.00,0.00
Italy,2402.51,256.00,1806.81,737.830,587.45,202.07,147.100,1990.95,279.800,3489.69,4571.08,1011.95
Japan,0.00,5780.81,48.90,6548.500,1351.45,1607.04,3854.400,0.00,112.080,1948.04,8460.08,7705.07
Lebanon,1693.88,0.00,0.00,0.000,0.00,0.00,0.000,0.00,0.000,0.00,0.00,0.00
Lithuania,0.00,0.00,0.00,0.000,0.00,0.00,0.000,0.00,0.000,0.00,0.00,1661.06
Malta,0.00,0.00,0.00,0.000,0.00,863.16,0.000,1119.00,0.000,0.00,743.43,0.00
Netherlands,26611.16,23011.91,22416.49,2976.560,29185.88,26858.09,26.020,40327.81,26937.260,40708.65,25874.01,20512.50
Norway,0.00,630.90,1265.31,0.000,0.00,5886.86,890.070,2025.81,8678.940,3687.23,6527.50,6572.82
Poland,613.22,604.05,317.78,705.840,1522.37,343.65,687.300,401.80,529.250,0.00,1361.23,248.16
Portugal,4055.71,1213.90,2660.85,1687.750,4202.23,884.46,2287.850,1221.40,1433.220,5877.01,2603.30,5248.16
RSA,0.00,0.00,0.00,0.000,0.00,0.00,0.000,0.00,0.000,1002.31,0.00,0.00
Saudi Arabia,0.00,145.92,0.00,0.000,0.00,0.00,0.000,0.00,0.000,0.00,0.00,0.00
Singapore,2053.07,0.00,0.00,8209.580,0.00,0.00,3949.320,0.00,0.000,7067.32,0.00,0.00
Spain,10086.09,2114.50,5363.15,1785.650,3257.60,3333.21,7620.770,3342.41,5189.240,8636.94,8669.06,2159.94
Sweden,3486.32,509.50,4720.58,809.100,2681.98,832.00,6802.090,1390.36,4575.210,5766.16,2722.23,4072.30
Switzerland,4231.23,2654.92,1870.23,2076.940,3610.01,7904.15,3762.650,4969.89,8284.860,7655.19,8118.96,1304.92
UK,440876.33,354618.20,465784.19,408733.111,550359.35,523775.59,484545.591,497194.91,794806.692,821220.13,975251.39,967859.16
USA,0.00,0.00,0.00,383.950,0.00,0.00,0.000,0.00,0.000,2311.20,0.00,885.24
United Arab Emirates,0.00,889.24,0.00,0.000,0.00,0.00,0.000,0.00,1013.040,0.00,0.00,0.00
Unspecified,0.00,0.00,0.00,299.100,852.68,185.78,792.180,531.03,0.000,0.00,0.00,0.00

Task 101: Create a summary showing average quantity purchased by country and quarter.

In [604]:
df.pivot_table(index='Country',columns='Quarter',values='Quantity',aggfunc='mean',fill_value=0)

Quarter                        1           2          3          4
Country
Australia              76.429012   83.184818  59.692935  64.279570
Austria                33.948718   10.220779   9.531469  10.122302
Bahrain                 0.000000   15.294118   0.000000   0.000000
Belgium                10.943452   10.663286  11.298419  12.336207
Brazil                  0.000000   11.125000   0.000000   0.000000
Canada                  8.800000   27.517241  13.000000   0.000000
Channel Islands        14.855856    9.330645  13.563725  11.487310
Cyprus                 15.181818    7.574468  33.000000   7.794030
Czech Republic         23.066667    0.000000   0.000000  32.500000
Denmark                28.282051   15.296000  27.683544  22.138686
European Community      0.000000    5.290323  11.551724   0.000000
Finland                14.523207   18.396226  14.016949  17.458716
France                 14.319975   14.233399  12.955718  12.764706
Germany                12.749697   14.133297  12.878070  13.132771
Greece                 15.092593    8.451613  10.166667   6.555556
Iceland                10.862069   16.166667  12.590909  13.337079
Ireland                21.918970   17.206720  23.000439  16.282892
Israel                 17.875000    0.000000  18.489899   3.096774
Italy                   9.411765   17.727273  10.491379  10.443864
Japan                  29.900990  172.765625  57.488372  83.778761
Lebanon                 8.577778    0.000000   0.000000   0.000000
Lithuania               0.000000    0.000000   0.000000  18.628571
Malta                   0.000000    8.933333   6.945455  15.500000
Netherlands            85.060956   73.619893  88.293561  91.773071
Norway                  8.200000   12.102410  17.917683  21.070881
Poland                 12.048387   10.263636   9.202532  13.683544
Portugal               14.802768    8.229268  16.475490   8.965563
RSA                     0.000000    0.000000   0.000000   6.157895
Saudi Arabia            8.888889    0.000000   0.000000   0.000000
Singapore              19.482143   24.368421  28.800000  17.676471
Spain                  10.692194   10.363874  11.533632  12.013351
Sweden                108.074074   40.306818  89.000000  80.786667
Switzerland            15.943574   20.014085  15.158974  15.503436
UK                     12.943920   12.176077  13.063251  11.255354
USA                     0.000000    6.227273   0.000000  14.783439
United Arab Emirates   16.533333    0.000000  12.789474   0.000000
Unspecified             0.000000   14.083333   4.562130   0.000000

Task 102: Create a table showing the count of transactions in each RevenueCategory by Country.

In [605]:
df.pivot_table(index='Country',columns='RevenueCategory',values='InvoiceNo',aggfunc='count')

RevenueCategory         High       Low    Medium
Country
Australia              445.0      82.0     654.0
Austria                 13.0      37.0     348.0
Bahrain                  1.0       NaN      16.0
Belgium                 16.0     209.0    1806.0
Brazil                   1.0       NaN      31.0
Canada                   2.0      19.0     130.0
Channel Islands         22.0      20.0     705.0
Cyprus                  14.0     142.0     447.0
Czech Republic           NaN       NaN      25.0
Denmark                 43.0      28.0     309.0
European Community       NaN       1.0      59.0
Finland                 42.0      66.0     577.0
France                 165.0    1284.0    6877.0
Germany                246.0    1155.0    7624.0
Greece                  12.0      17.0     116.0
Iceland                  3.0      13.0     166.0
Ireland                457.0     793.0    5976.0
Israel                  14.0      52.0     179.0
Italy                    8.0      44.0     706.0
Japan                  126.0      58.0     137.0
Lebanon                  3.0       NaN      42.0
Lithuania                1.0       NaN      34.0
Malta                    2.0      12.0      98.0
Netherlands           1132.0     198.0    1029.0
Norway                  43.0      59.0     969.0
Poland                   2.0      25.0     303.0
Portugal                23.0     354.0    1076.0
RSA                      NaN       3.0      54.0
Saudi Arabia             NaN       1.0       8.0
Singapore               16.0      13.0     193.0
Spain                   73.0     637.0    1769.0
Sweden                 136.0      28.0     286.0
Switzerland             95.0     148.0    1598.0
UK                    8493.0  164356.0  176354.0
USA                      NaN      22.0     157.0
United Arab Emirates     1.0       7.0      60.0
Unspecified              NaN     126.0     115.0

PART O: Data Transformation

Task 103: Add a column to each row showing what percentage of the monthly total revenue that transaction represents.

In [606]:
monthly_total = df.groupby('Month')['TotalPrice'].sum()

In [607]:
df['MonthlyRevenuePercent'] = (df['TotalPrice'] / df['Month'].map(monthly_total)) * 100

ask 104: Add a column showing each customer's ranking based on their total spending.

In [608]:
Customer_ranking=df.groupby('CustomerID')['TotalPrice'].sum().sort_values(ascending=False).reset_index()

In [609]:
Customer_ranking['Rank']=np.arange(1,len(Customer_ranking)+1)

In [610]:
df = df.merge(Customer_ranking[['CustomerID','Rank']], on='CustomerID', how='left')

In [611]:
df

,InvoiceNo,StockCode,ProductName,Quantity,InvoiceDate,UnitPrice,CustomerID,Country,TotalPrice,Year,Month,Day,Hour,DayOfWeek,Quarter,RevenueCategory,NameLength,MonthlyRevenuePercent,Rank
0,536365,85123A,WHITE HANGING HEART T-LIGHT HOLDER,6,2010-12-01 08:26:00,2.55,17850,UK,15.30,2010,12,1,8,2,4,Medium,34,0.001407,248
1,536365,71053,WHITE METAL LANTERN,6,2010-12-01 08:26:00,3.39,17850,UK,20.34,2010,12,1,8,2,4,Medium,19,0.001870,248
2,536365,84406B,CREAM CUPID HEARTS COAT HANGER,8,2010-12-01 08:26:00,2.75,17850,UK,22.00,2010,12,1,8,2,4,Medium,30,0.002023,248
3,536365,84029G,KNITTED UNION FLAG HOT WATER BOTTLE,6,2010-12-01 08:26:00,3.39,17850,UK,20.34,2010,12,1,8,2,4,Medium,35,0.001870,248
4,536365,84029E,RED WOOLLY HOTTIE WHITE HEART.,6,2010-12-01 08:26:00,3.39,17850,UK,20.34,2010,12,1,8,2,4,Medium,30,0.001870,248
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
392687,581587,22613,PACK OF 20 SPACEBOY NAPKINS,12,2011-12-09 12:50:00,0.85,12680,France,10.20,2011,12,9,12,4,4,Medium,27,0.000938,1833
392688,581587,22899,CHILDREN'S APRON DOLLY GIRL,6,2011-12-09 12:50:00,2.10,12680,France,12.60,2011,12,9,12,4,4,Medium,28,0.001159,1833
392689,581587,23254,CHILDRENS CUTLERY DOLLY GIRL,4,2011-12-09 12:50:00,4.15,12680,France,16.60,2011,12,9,12,4,4,Medium,29,0.001526,1833
392690,581587,23255,CHILDRENS CUTLERY CIRCUS PARADE,4,2011-12-09 12:50:00,4.15,12680,France,16.60,2011,12,9,12,4,4,Medium,31,0.001526,1833
392691,581587,22138,BAKING SET 9 PIECE RETROSPOT,3,2011-12-09 12:50:00,4.95,12680,France,14.85,2011,12,9,12,4,4,Medium,29,0.001365,1833

Task 105: Add a column showing the cumulative revenue over time.

In [612]:
df = df.sort_values(['InvoiceDate'])
df['CumulativeRevenue'] = df['TotalPrice'].cumsum()
df[['InvoiceDate', 'TotalPrice', 'CumulativeRevenue']]

               InvoiceDate  TotalPrice  CumulativeRevenue
0      2010-12-01 08:26:00       15.30       1.530000e+01
1      2010-12-01 08:26:00       20.34       3.564000e+01
2      2010-12-01 08:26:00       22.00       5.764000e+01
3      2010-12-01 08:26:00       20.34       7.798000e+01
4      2010-12-01 08:26:00       20.34       9.832000e+01
...                    ...         ...                ...
392679 2011-12-09 12:50:00       19.80       8.887143e+06
392678 2011-12-09 12:50:00       19.80       8.887162e+06
392690 2011-12-09 12:50:00       16.60       8.887179e+06
392683 2011-12-09 12:50:00       15.00       8.887194e+06
392691 2011-12-09 12:50:00       14.85       8.887209e+06

[392692 rows x 3 columns]

PART P: Combining Analysis
Task 106: Split the dataset into two parts: 2010 data and 2011 data. Then combine them back together vertically.

In [613]:
df_2010 = df[df['Year'] == 2010]
df_2011 = df[df['Year'] == 2011]

df_combined_vertical = pd.concat([df_2010, df_2011], axis=0)
df_combined_vertical

,InvoiceNo,StockCode,ProductName,Quantity,InvoiceDate,UnitPrice,CustomerID,Country,TotalPrice,Year,Month,Day,Hour,DayOfWeek,Quarter,RevenueCategory,NameLength,MonthlyRevenuePercent,Rank,CumulativeRevenue
0,536365,85123A,WHITE HANGING HEART T-LIGHT HOLDER,6,2010-12-01 08:26:00,2.55,17850,UK,15.30,2010,12,1,8,2,4,Medium,34,0.001407,248,1.530000e+01
1,536365,71053,WHITE METAL LANTERN,6,2010-12-01 08:26:00,3.39,17850,UK,20.34,2010,12,1,8,2,4,Medium,19,0.001870,248,3.564000e+01
2,536365,84406B,CREAM CUPID HEARTS COAT HANGER,8,2010-12-01 08:26:00,2.75,17850,UK,22.00,2010,12,1,8,2,4,Medium,30,0.002023,248,5.764000e+01
3,536365,84029G,KNITTED UNION FLAG HOT WATER BOTTLE,6,2010-12-01 08:26:00,3.39,17850,UK,20.34,2010,12,1,8,2,4,Medium,35,0.001870,248,7.798000e+01
4,536365,84029E,RED WOOLLY HOTTIE WHITE HEART.,6,2010-12-01 08:26:00,3.39,17850,UK,20.34,2010,12,1,8,2,4,Medium,30,0.001870,248,9.832000e+01
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
392679,581587,22555,PLASTERS IN TIN STRONGMAN,12,2011-12-09 12:50:00,1.65,12680,France,19.80,2011,12,9,12,4,4,Medium,25,0.001821,1833,8.887143e+06
392678,581587,22556,PLASTERS IN TIN CIRCUS PARADE,12,2011-12-09 12:50:00,1.65,12680,France,19.80,2011,12,9,12,4,4,Medium,30,0.001821,1833,8.887162e+06
392690,581587,23255,CHILDRENS CUTLERY CIRCUS PARADE,4,2011-12-09 12:50:00,4.15,12680,France,16.60,2011,12,9,12,4,4,Medium,31,0.001526,1833,8.887179e+06
392683,581587,22730,ALARM CLOCK BAKELIKE IVORY,4,2011-12-09 12:50:00,3.75,12680,France,15.00,2011,12,9,12,4,4,Medium,26,0.001379,1833,8.887194e+06
392691,581587,22138,BAKING SET 9 PIECE RETROSPOT,3,2011-12-09 12:50:00,4.95,12680,France,14.85,2011,12,9,12,4,4,Medium,29,0.001365,1833,8.887209e+06

Task 107: Create separate datasets for UK and non-UK, then combine horizontally.

In [614]:
df_uk = df[df['Country'] == 'UK'].reset_index(drop=True)
df_non_uk = df[df['Country'] != 'UK'].reset_index(drop=True)

df_combined_horizontal = pd.concat([df_uk, df_non_uk], axis=1, keys=['UK_Data', 'Non_UK_Data'])
df_combined_horizontal

         UK_Data                                                          \
       InvoiceNo StockCode                          ProductName Quantity
0         536365    85123A   WHITE HANGING HEART T-LIGHT HOLDER        6
1         536365     71053                  WHITE METAL LANTERN        6
2         536365    84406B       CREAM CUPID HEARTS COAT HANGER        8
3         536365    84029G  KNITTED UNION FLAG HOT WATER BOTTLE        6
4         536365    84029E       RED WOOLLY HOTTIE WHITE HEART.        6
...          ...       ...                                  ...      ...
349198    581585     84832     ZINC WILLIE WINKIE  CANDLE STICK       24
349199    581586     22061  LARGE CAKE STAND  HANGING STRAWBERY        8
349200    581586     23275     SET OF 3 HANGING OWLS OLLIE BEAK       24
349201    581586     21217        RED RETROSPOT ROUND CAKE TINS       24
349202    581586     20685                DOORMAT RED RETROSPOT       10

                                                                          ...  \
               InvoiceDate UnitPrice CustomerID Country TotalPrice  Year  ...
0      2010-12-01 08:26:00      2.55      17850      UK      15.30  2010  ...
1      2010-12-01 08:26:00      3.39      17850      UK      20.34  2010  ...
2      2010-12-01 08:26:00      2.75      17850      UK      22.00  2010  ...
3      2010-12-01 08:26:00      3.39      17850      UK      20.34  2010  ...
4      2010-12-01 08:26:00      3.39      17850      UK      20.34  2010  ...
...                    ...       ...        ...     ...        ...   ...  ...
349198 2011-12-09 12:31:00      0.85      15804      UK      20.40  2011  ...
349199 2011-12-09 12:49:00      2.95      13113      UK      23.60  2011  ...
349200 2011-12-09 12:49:00      1.25      13113      UK      30.00  2011  ...
349201 2011-12-09 12:49:00      8.95      13113      UK     214.80  2011  ...
349202 2011-12-09 12:49:00      7.08      13113      UK      70.80  2011  ...

       Non_UK_Data                                                         \
             Month  Day Hour DayOfWeek Quarter RevenueCategory NameLength
0             12.0  1.0  8.0       2.0     4.0          Medium       31.0
1             12.0  1.0  8.0       2.0     4.0          Medium       29.0
2             12.0  1.0  8.0       2.0     4.0          Medium       32.0
3             12.0  1.0  8.0       2.0     4.0          Medium       23.0
4             12.0  1.0  8.0       2.0     4.0          Medium       26.0
...            ...  ...  ...       ...     ...             ...        ...
349198         NaN  NaN  NaN       NaN     NaN             NaN        NaN
349199         NaN  NaN  NaN       NaN     NaN             NaN        NaN
349200         NaN  NaN  NaN       NaN     NaN             NaN        NaN
349201         NaN  NaN  NaN       NaN     NaN             NaN        NaN
349202         NaN  NaN  NaN       NaN     NaN             NaN        NaN


       MonthlyRevenuePercent   Rank CumulativeRevenue
0                   0.001563  154.0            544.95
1                   0.003641  154.0            584.55
2                   0.006510  154.0            655.35
3                   0.002152  154.0            678.75
4                   0.000927  154.0            688.83
...                      ...    ...               ...
349198                   NaN    NaN               NaN
349199                   NaN    NaN               NaN
349200                   NaN    NaN               NaN
349201                   NaN    NaN               NaN
349202                   NaN    NaN               NaN

[349203 rows x 40 columns]

PART Q: External Data Integration
Task 108: Create a new dataset with customer information (make up data):

CustomerID, CustomerName, MembershipLevel (Bronze/Silver/Gold), JoinDate

In [615]:
unique_customers = df['CustomerID'].unique()
customer_data = pd.DataFrame({
    'CustomerID': unique_customers,
    'MembershipLevel': np.random.choice(['Bronze', 'Silver', 'Gold'], size=len(unique_customers)),
    'JoinDate': pd.date_range(start='2010-01-01', periods=len(unique_customers))
})
customer_data

      CustomerID MembershipLevel   JoinDate
0          17850          Silver 2010-01-01
1          13047          Bronze 2010-01-02
2          12583          Bronze 2010-01-03
3          13748          Bronze 2010-01-04
4          15100          Bronze 2010-01-05
...          ...             ...        ...
4333       13436            Gold 2021-11-12
4334       15520          Bronze 2021-11-13
4335       13298          Silver 2021-11-14
4336       14569          Silver 2021-11-15
4337       12713          Bronze 2021-11-16

[4338 rows x 3 columns]

Task 109: Combine customer dataset with sales data.

In [616]:
df_with_customers = df.merge(customer_data, on='CustomerID', how='left')
df_with_customers[['InvoiceNo', 'CustomerID', 'MembershipLevel']].head()

  InvoiceNo  CustomerID MembershipLevel
0    536365       17850          Silver
1    536365       17850          Silver
2    536365       17850          Silver
3    536365       17850          Silver
4    536365       17850          Silver

Task 110: Create a product categories dataset (Mock Data).

In [617]:
unique_stock = df['StockCode'].unique()
category_data = pd.DataFrame({
    'StockCode': unique_stock,
    'Category': np.random.choice(['Home', 'Kitchen', 'Gift', 'Office', 'Decor'], size=len(unique_stock))
})
category_data

     StockCode Category
0       85123A     Gift
1        71053   Office
2       84406B   Office
3       84029G     Home
4       84029E     Home
...        ...      ...
3660    90214W     Home
3661    90214Z   Office
3662    90214T     Gift
3663     90089  Kitchen
3664     23843   Office

[3665 rows x 2 columns]

Task 111: Combine sales data with product categories.

In [618]:
df_full_enriched = df_with_customers.merge(category_data, on='StockCode', how='left')

In [619]:
category_revenue = df_full_enriched.groupby('Category')['TotalPrice'].sum().sort_values(ascending=False)
category_revenue

Category
Office     2020601.020
Decor      1795962.160
Gift       1743384.020
Home       1711210.253
Kitchen    1616051.441
Name: TotalPrice, dtype: float64

Task 112: Perform an analysis that shows total revenue by MembershipLevel.

In [620]:
membership_revenue = df_full_enriched.groupby('MembershipLevel')['TotalPrice'].sum().sort_values(ascending=False)
membership_revenue

MembershipLevel
Gold      3133474.930
Bronze    2935102.982
Silver    2818630.982
Name: TotalPrice, dtype: float64

Task 113: Show which product categories are most popular in each country.

In [621]:
country_category_popularity = df_full_enriched.groupby(['Country', 'Category'])['TotalPrice'].sum()

In [622]:
top_category_per_country = country_category_popularity.sort_values(ascending=False).groupby('Country').head(1)
top_category_per_country

Country               Category
UK                    Office      1672356.87
Netherlands           Office        69599.92
Germany               Home          58746.17
Ireland               Decor         56897.58
France                Home          49124.77
Australia             Gift          30357.16
Spain                 Home          14962.75
Singapore             Office        13721.96
Switzerland           Home          13377.74
Japan                 Decor         11331.85
Belgium               Home          10415.80
Sweden                Kitchen        9501.75
Portugal              Office         9468.21
Norway                Office         8661.47
Finland               Home           6153.44
Channel Islands       Office         4875.41
Denmark               Decor          4614.84
Italy                 Home           4372.97
Cyprus                Decor          3488.60
Austria               Home           2942.28
Israel                Gift           2077.63
Poland                Decor          1708.06
Canada                Home           1528.17
Iceland               Gift           1250.98
Greece                Kitchen        1082.49
Malta                 Home            958.34
USA                   Decor           891.07
Unspecified           Decor           702.77
Lithuania             Gift            528.60
United Arab Emirates  Gift            464.30
Lebanon               Gift            424.08
Brazil                Gift            393.60
European Community    Kitchen         364.65
RSA                   Decor           277.85
Czech Republic        Kitchen         198.06
Bahrain               Office          154.20
Saudi Arabia          Decor            57.30
Name: TotalPrice, dtype: float64

PART R: NumPy Operations

Task 114: Extract Quantity and UnitPrice as arrays and perform element-wise multiplication.

In [623]:
qty_array = df['Quantity'].values
price_array = df['UnitPrice'].values
total_values = qty_array * price_array
total_values

array([15.3 , 20.34, 22.  , ..., 16.6 , 15.  , 14.85])

Task 115: Create an array of 1000 random transaction IDs.

In [624]:
random_ids = np.random.randint(100000, 999999, size=1000)
random_ids

array([677088, 139737, 129745, 145806, 502076, 524481, 137666, 377140,
       335986, 271878, 463863, 594213, 681998, 983933, 414034, 454025,
       612204, 254477, 170833, 736934, 233034, 824202, 999847, 500029,
       538999, 423571, 893947, 110109, 693917, 511413, 468705, 522369,
       230189, 832860, 799516, 788927, 924420, 612927, 984086, 490438,
       387828, 131279, 493686, 255015, 906095, 611683, 346632, 523835,
       708173, 336945, 424981, 496841, 767405, 830847, 808146, 545000,
       849332, 897382, 216109, 584918, 341159, 823433, 289187, 879926,
       581879, 352499, 601994, 173870, 369031, 889438, 153067, 838338,
       946211, 724942, 532910, 867684, 273170, 827312, 880818, 794296,
       588716, 923115, 742807, 377224, 589558, 876182, 355760, 513022,
       105337, 909221, 711038, 176840, 229217, 777869, 177793, 107718,
       670047, 876616, 656831, 792266, 491704, 751079, 831984, 711264,
       206175, 370332, 861213, 234297, 932434, 982997, 825438, 172066,
       219487, 713095, 732491, 148411, 461366, 203213, 252334, 223073,
       430718, 235093, 499417, 565891, 266654, 622008, 300047, 546632,
       662765, 167943, 455792, 612042, 873110, 923883, 979383, 878047,
       637688, 590258, 455705, 473255, 502540, 123706, 449084, 300483,
       929378, 228715, 273518, 615354, 446114, 925121, 519220, 233761,
       790476, 492956, 403716, 367761, 703747, 962776, 875612, 642761,
       704099, 955934, 264001, 675491, 482586, 379349, 334613, 173227,
       965993, 353738, 135011, 600506, 536158, 190136, 957460, 485137,
       553126, 758513, 685756, 282803, 369689, 898445, 559170, 550317,
       549570, 681769, 820352, 570317, 975091, 521986, 548477, 924463,
       977956, 399253, 833840, 805969, 510921, 939639, 558154, 130024,
       513356, 950696, 479215, 628786, 404295, 479227, 475187, 973410,
       877325, 504576, 365773, 346690, 348175, 824670, 826219, 388738,
       232751, 646630, 493120, 923670, 135592, 852343, 304931, 576106,
       126147, 580766, 160572, 780696, 326784, 746751, 843315, 649487,
       773472, 720214, 703011, 874339, 635610, 204347, 486587, 346100,
       133066, 341939, 704603, 351670, 643292, 864035, 414913, 496303,
       361568, 755832, 603444, 582790, 440235, 725646, 760273, 548788,
       736389, 781427, 159043, 483310, 612669, 276085, 926452, 563321,
       176109, 274885, 402090, 626691, 815707, 472063, 408511, 890573,
       361119, 354556, 943509, 793153, 675999, 400758, 542155, 503796,
       808453, 417365, 393358, 841452, 385200, 727850, 878976, 684330,
       468768, 398943, 135146, 964492, 441336, 852703, 155085, 633165,
       215441, 137605, 188024, 833718, 439723, 467527, 521127, 428216,
       193302, 468668, 264977, 468044, 896221, 239458, 986280, 637078,
       207802, 161805, 756485, 815857, 954749, 341946, 507981, 356095,
       321378, 938058, 142011, 560616, 517415, 152300, 573440, 566898,
       806052, 683869, 842099, 107188, 766624, 755414, 128208, 676295,
       108435, 385713, 388186, 383022, 587056, 277166, 372405, 305225,
       832478, 468723, 917610, 763992, 686654, 990566, 241639, 975588,
       916823, 178094, 739572, 704424, 919679, 816285, 747702, 536974,
       148088, 476793, 316287, 347687, 984087, 172948, 426783, 216900,
       892114, 628557, 376940, 927189, 224132, 318578, 224925, 719035,
       777203, 567077, 664031, 990226, 241598, 550820, 583485, 164737,
       955850, 132880, 529430, 301570, 809539, 512887, 548120, 622758,
       441992, 160705, 150946, 836951, 275217, 595426, 447414, 112075,
       965014, 315610, 196642, 836082, 489835, 341340, 372280, 905541,
       696953, 712132, 828786, 863865, 137227, 833264, 462620, 133387,
       164365, 603300, 192494, 654267, 920758, 674820, 953760, 953694,
       248851, 575490, 625886, 996641, 949398, 597240, 752786, 687018,
       903560, 313198, 372752, 442249, 508148, 289524, 150805, 948196,
       262862, 921771, 231270, 827128, 548318, 224967, 624815, 172981,
       438471, 112419, 504459, 425638, 534837, 956129, 160473, 689041,
       447148, 534440, 977515, 972272, 950138, 470120, 856697, 440564,
       527636, 980020, 845793, 247237, 842690, 864680, 742904, 753487,
       317308, 535961, 365892, 775192, 239427, 347750, 947467, 299139,
       149499, 510725, 175541, 446260, 660567, 418865, 385870, 986990,
       857599, 960916, 665236, 706414, 650722, 277689, 798631, 527889,
       849096, 938831, 507006, 500707, 810063, 787391, 420891, 491602,
       146347, 524355, 945330, 212984, 961263, 843957, 480737, 975366,
       933656, 727339, 792715, 401496, 906897, 833364, 633535, 410035,
       119832, 438292, 275627, 850470, 609486, 828268, 909944, 231988,
       465604, 518854, 234729, 323652, 929150, 725411, 720794, 667162,
       212967, 549854, 402027, 895020, 214393, 693608, 715792, 871439,
       955222, 581825, 807745, 370073, 782152, 341290, 909866, 423011,
       307293, 417855, 528521, 633728, 856951, 552512, 983773, 281719,
       298188, 757862, 805763, 817750, 115279, 939525, 744181, 854829,
       450987, 705187, 254701, 415580, 372616, 181254, 692602, 806904,
       624888, 818961, 446482, 533842, 456442, 702056, 467891, 555706,
       560084, 652842, 278769, 199110, 560742, 387627, 160848, 757168,
       302551, 190501, 323536, 791527, 362074, 917651, 373424, 827929,
       503433, 364165, 403379, 787213, 218626, 447214, 761065, 771660,
       199604, 709032, 439630, 622178, 901754, 841752, 656900, 701445,
       194036, 476121, 986203, 720290, 878349, 646955, 988016, 306199,
       817585, 721671, 394550, 662437, 151880, 682319, 742208, 168039,
       175338, 600037, 467730, 820994, 473246, 679375, 222849, 942588,
       650800, 240058, 925341, 860988, 275564, 552249, 580461, 724951,
       954243, 919907, 457501, 406511, 435953, 171193, 126470, 534732,
       359487, 909879, 887201, 601909, 445027, 302786, 717637, 805715,
       332525, 870111, 260027, 662406, 879324, 552380, 488425, 401310,
       471632, 675364, 418402, 767171, 490296, 288222, 695195, 502249,
       985219, 158174, 599107, 469352, 344121, 491330, 154427, 686099,
       600291, 917705, 115714, 476095, 688311, 581291, 373814, 104781,
       359750, 318858, 255639, 239282, 106589, 205881, 274715, 109498,
       409511, 545280, 617052, 173960, 207793, 541156, 379469, 374156,
       776986, 622372, 462436, 372628, 870409, 236545, 234368, 169167,
       136828, 274003, 621100, 951878, 763916, 133898, 490336, 308709,
       446390, 589143, 873327, 125262, 344774, 396905, 942804, 190493,
       562720, 751388, 153788, 380484, 747979, 697264, 702847, 706556,
       554551, 312317, 719213, 804897, 144681, 321726, 213943, 134182,
       192483, 195798, 949458, 731822, 124980, 313146, 723320, 540356,
       935990, 119844, 992342, 141369, 762464, 188348, 595254, 842546,
       559546, 594928, 882432, 827080, 246950, 381800, 885662, 391556,
       369367, 690713, 487517, 282873, 607253, 663008, 917180, 356493,
       451184, 511672, 690215, 228886, 704638, 179944, 473602, 676830,
       624789, 466155, 289310, 606082, 223485, 550282, 469086, 181068,
       987790, 677512, 757185, 988039, 357097, 460924, 962363, 238984,
       442127, 426971, 148856, 391737, 773522, 114562, 286176, 766777,
       498086, 320195, 547025, 584112, 644349, 194368, 856328, 637419,
       306987, 647477, 783630, 830424, 532259, 406195, 363388, 459932,
       111670, 341356, 337864, 578606, 790832, 885591, 831854, 716628,
       263198, 215722, 713583, 779049, 672991, 671211, 432416, 751766,
       288134, 326825, 155013, 541670, 787915, 519544, 644262, 187865,
       156622, 282305, 780965, 797202, 297216, 159780, 146723, 820891,
       718831, 587550, 905736, 405508, 274810, 917934, 369104, 701630,
       689093, 835060, 849935, 154119, 309516, 817488, 550473, 702167,
       505174, 552625, 696115, 757138, 362996, 886349, 848085, 957354,
       876649, 385460, 875158, 958806, 622955, 992923, 974116, 815100,
       495874, 382630, 820112, 537252, 781192, 247976, 948512, 589084,
       532651, 941094, 622477, 596475, 224181, 329669, 476010, 108738,
       696080, 671162, 706062, 804202, 521139, 976669, 105038, 114910,
       171806, 950317, 741398, 404316, 733277, 258211, 887074, 865563,
       169919, 795396, 493478, 136073, 235275, 909263, 380505, 273492,
       921311, 707775, 898262, 475468, 456330, 584402, 999439, 497466,
       740487, 646895, 546145, 541741, 464450, 445512, 973154, 883242,
       952545, 423612, 797386, 992042, 626827, 553683, 709794, 263421,
       942243, 379051, 316687, 428899, 721279, 378323, 264156, 195210,
       720377, 845720, 798819, 256306, 276862, 504367, 692768, 273222,
       225319, 429037, 295524, 593561, 701282, 796840, 753593, 736300,
       444724, 315462, 280361, 829611, 979489, 701938, 386100, 525075,
       786842, 702769, 802090, 152356, 209795, 677833, 713769, 313483])

Task 116: Generate 50 equally spaced price points between 0 and 500.

In [625]:
price_points = np.linspace(0, 500, 50)
price_points

array([  0.        ,  10.20408163,  20.40816327,  30.6122449 ,
        40.81632653,  51.02040816,  61.2244898 ,  71.42857143,
        81.63265306,  91.83673469, 102.04081633, 112.24489796,
       122.44897959, 132.65306122, 142.85714286, 153.06122449,
       163.26530612, 173.46938776, 183.67346939, 193.87755102,
       204.08163265, 214.28571429, 224.48979592, 234.69387755,
       244.89795918, 255.10204082, 265.30612245, 275.51020408,
       285.71428571, 295.91836735, 306.12244898, 316.32653061,
       326.53061224, 336.73469388, 346.93877551, 357.14285714,
       367.34693878, 377.55102041, 387.75510204, 397.95918367,
       408.16326531, 418.36734694, 428.57142857, 438.7755102 ,
       448.97959184, 459.18367347, 469.3877551 , 479.59183673,
       489.79591837, 500.        ])

Task 117: Create a matrix representing 12 months and 7 product categories filled with zeros.

In [626]:
zero_matrix = np.zeros((12, 7))
zero_matrix

array([[0., 0., 0., 0., 0., 0., 0.],
       [0., 0., 0., 0., 0., 0., 0.],
       [0., 0., 0., 0., 0., 0., 0.],
       [0., 0., 0., 0., 0., 0., 0.],
       [0., 0., 0., 0., 0., 0., 0.],
       [0., 0., 0., 0., 0., 0., 0.],
       [0., 0., 0., 0., 0., 0., 0.],
       [0., 0., 0., 0., 0., 0., 0.],
       [0., 0., 0., 0., 0., 0., 0.],
       [0., 0., 0., 0., 0., 0., 0.],
       [0., 0., 0., 0., 0., 0., 0.],
       [0., 0., 0., 0., 0., 0., 0.]])

Task 118: Extract quantities greater than 100 from the Quantity array.

In [627]:
high_quantities = qty_array[qty_array > 100]
high_quantities

array([120, 192, 192, ..., 180, 144, 144])

Task 119: Calculate the square root of all UnitPrice values.

In [628]:
price_sqrt = np.sqrt(price_array)
price_sqrt

array([1.59687194, 1.84119526, 1.6583124 , ..., 2.03715488, 1.93649167,
       2.22485955])

Task 120: Find the 25th, 50th, and 75th percentiles of TotalPrice.

In [629]:
percentiles = np.percentile(df['TotalPrice'], [25, 50, 75])
percentiles

array([ 4.95, 12.45, 19.8 ])

Task 121: Round all UnitPrice values to the nearest integer.

In [630]:
rounded_prices = np.round(price_array)
rounded_prices

array([3., 3., 3., ..., 4., 4., 5.])

Task 122: Find positions where Quantity is maximum.

In [631]:
max_qty_indices = np.where(qty_array == np.max(qty_array))
max_qty_indices

(array([392226]),)

Task 123: Calculate the correlation between Quantity and UnitPrice.

In [632]:
correlation = np.corrcoef(qty_array, price_array)[0, 1]
correlation

np.float64(-0.0045783143496490285)

Task 124: Normalize the TotalPrice column (Z-score normalization).

In [633]:
total_price_norm = (df['TotalPrice'] - df['TotalPrice'].mean()) / df['TotalPrice'].std()
total_price_norm

0        -0.023566
1        -0.007366
2        -0.002030
3        -0.007366
4        -0.007366
            ...
392679   -0.009102
392678   -0.009102
392690   -0.019388
392683   -0.024531
392691   -0.025013
Name: TotalPrice, Length: 392692, dtype: float64

Task 125: Split the Quantity array into 4 equal parts.

In [634]:
qty_split = np.array_split(qty_array, 4)
qty_split

[array([6, 6, 8, ..., 1, 1, 1]),
 array([10, 16,  2, ...,  2,  1,  1]),
 array([ 6,  1,  1, ...,  1, 12,  6]),
 array([ 8,  8, 36, ...,  4,  4,  3])]

PART S: Export and Documentation
Task 126: Save your cleaned dataset to a CSV file.

In [635]:
df.to_csv('Cleaned_OnlineRetail.csv', index=False)

Task 127: Save your cleaned dataset to an Excel file.

In [636]:
df.to_excel('Cleaned_OnlineRetail.xlsx',index=False)

Task 128: Create an Excel file with multiple sheets.

In [637]:
with pd.ExcelWriter('Retail_Analysis_Report.xlsx', engine='openpyxl') as writer:

    df.to_excel(writer, sheet_name='Full Data', index=False)


    country_summary = df.groupby('Country')['TotalPrice'].sum().sort_values(ascending=False)
    country_summary.to_excel(writer, sheet_name='Country Summary')


    monthly_trend = df.groupby('Month')['TotalPrice'].sum()
    monthly_trend.to_excel(writer, sheet_name='Monthly Trends')

    top_customers = df.groupby('CustomerID')['TotalPrice'].sum().nlargest(50)
    top_customers.to_excel(writer, sheet_name='Top 50 Customers')

Task 129: Export the pivot table from Task 100 to Excel.

In [638]:
country_monthly_sales.to_excel('Country_Monthly_Sales_Pivot.xlsx')

ask 130: Create a text file documenting insights.

In [639]:
insights_text = """
E-COMMERCE ANALYSIS INSIGHTS
----------------------------
1. Revenue is heavily concentrated in the UK.
2. Q4 shows significant seasonality peaks.
3. A small percentage of customers drive the majority of revenue (Pareto Principle).
4. Cancellations (Invoice 'C') were significant before cleaning.
"""

with open('Analysis_Insights.txt', 'w') as f:
    f.write(insights_text)

print("Export protocols initiated. Files generated successfully.")

Export protocols initiated. Files generated successfully.